---
layout: default
meta_title: COVID FAQs
body_class: faqs
title: Conference FAQs
---
<section class="relative py-24 pt-40 bg-black bg-cover bg-center" style="background-image: url({{site.sponsors.hero}});">
    <div class="bg-blue-800 h-full w-full absolute top-0 left-0 opacity-50"></div>
    <div class="relative px-8 container mx-auto items-center">
        <i class="inline-block font-mono text-blue-500 mb-4 lowercase">&#60; questions &#47;&#62;</i>
        <h1 class="hero-title">COVID-19 Policies at PHP UK</h1>
        <p class="text-sm font-mono text-gray-200 max-w-3xl">{{site.faqs.description}}</p>
    </div>
</section>
<section class="px-8 py-24 container mx-auto h-full bg-white">

</section>

<div class="wrapper">
    <h2>FAQ</h2>
    <h3>Will the event definitely be able to take place?</h3>
    <p>The UK government has now removed almost all COVID-19 related restrictions in England so we are confident that the event will be able to take place in the usual in-person format that everyone has come to expect.</p>

    <h3>What measures have been put in place to keep delegates safe?</h3>
    <p>While we hope that the community prevalence of COVID-19 will be very low by February, we will nevertheless be putting in place a number of measures to mitigate risk.</p>

    <p>It is our aim that these measures will not interfere with your enjoyment of the event. You can read the full details on our ‘<a href="#safety">safety</a>’ section below.</p>

    <h3>Will I be required to take a test on arrival?</h3>
    <p>Current guidance is that all restrictions will be removed before the event takes place. However, it is always possible that guidance changes and the government will require lateral flow testing to be in place for large events if case rates accelerate.</p>

    <h3>What happens if the event is rescheduled?</h3>
    <p>In the unfortunate event that PHP UK is unable to go ahead due to government restrictions, your ticket will be transferred for use on the rescheduled date. Should you prefer to have your ticket refunded you will be able to do so by emailing info@phpconference.co.uk.</p>

    <h3>Are tickets refundable?</h3>
    <p>As always, tickets to PHP UK are fully refundable up until two weeks before the event. This is the last date on which we have to confirm final numbers with the venue and various caterers.</p>
    <p>In addition to this, for 2022, your ticket is also fully refundable if during those final two weeks we are required to reschedule the event date due to UK government restrictions.</p>

    <h3>I am travelling from abroad. Will I be allowed in?</h3>
    <p>From 04:00 GMT on 11 February, fully vaccinated travellers (two doses) and under-18s will no longer need to take a lateral flow test (LFT) two days after they arrive in England.</p>
    <p>Travellers who aren't fully vaccinated will no longer have to self-isolate on arrival, or take a test on day eight but will still have to show proof of a negative Covid test taken two days before they travel, and they must still take a post-arrival PCR test. You won't need to self-isolate unless the day two test is positive.</p>

    <h2>Safety</h2>
    <h3>Venue staffing</h3>
    <p>All staff have received additional training to ensure new policies are followed. On entering the building all staff are required to undergo a documented temperature check and complete a health declaration form.</p>
    <p>This also applies to third-parties, such as audio visual crews.</p>

    <h3>Temperature Test</h3>
    <p>It is possible that the government will require either temperature and/or rapid testing to be in place for large events.</p>

    <h3>Hands Free Access</h3>
    <p>A newly-installed system allows all venue doors to be held open using automatic floor sensors. This enables touch free access for delegates to all event spaces.</p>

    <h3>Catering</h3>
    <p>As usual, meals will be provided as boxed individual portions. In addition to this, depending on restrictions in place at the time, it may be necessary for small items such as cakes and biscuits to be provided wrapped.</p>

    <h3>Cleaning</h3>
    <p>Deep cleaning and fogging of the building with an anti-microbial product will be undertaken by an ISO14001 accredited third party.</p>

    <h3>Sanitisers</h3>
    <p>Hands free sanitising stations will be available throughout the venue.</p>

    <h3>Transport</h3>
    <p>Additional bicycle racks have been installed to increase storage capacity for guests who wish to cycle to the venue.</p>
</div>