---
title: 2007
tags:
  - archive
sponsors:
  - name: Gold
    sponsorlist:
    - name: Propel London
    - name: Vision with Technology
    - name: IBM
    - name: eMomentum
  - name: Gold
    sponsorlist:
    - name: O'Reilly
    - name: Zend Technologies
    - name: Allegis
    - name: Ominor
speakers:
---
<main class="py-24 pt-40 bg-black">
  <div class="px-8 container mx-auto items-center">
    <i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; Archive &#47;&#62;</i>
    <h2 class="text-4xl capitalize text-white">{{title}}</h2>
  </div>
</main>
<main class="py-24 container px-8 mx-auto h-full bg-white">
  <div class="markdown">
    <h1>PHP UK CONFERENCE 2007 ARCHIVE</h1>
    <h2>Friday February 23, 2007</h2>
    <h3>Gold sponsors:</h3>
    <ul>
        <li>Propel London</li>
        <li>Vision with Technology</li>
        <li>IBM</li>
        <li>eMomentum</li>
    </ul>
    <h3>Silver sponsors: </h3>
    <ul>
        <li>O'Reilly</li>
        <li>Zend Technologies</li>
        <li>Allegis</li>
        <li>Ominor</li>
    </ul>
    <h3>Media partners: </h3>
    <ul>
        <li>Dynamic Web Pages</li>
    </ul>
    <h3>Community partners: </h3>
    <ul>
        <li>PHP London</li>
    </ul>
    <h3>Organisers: </h3>
    <ul>
        <li>Demian Turner</li>
        <li>Marcus Baker</li>
    </ul>
  </div>
</main>
