---
title: 2009
tags:
  - archive
sponsors:
  - name: Platinum
    sponsorlist:
    - name: Ibuildings
    - name: Microsoft
  - name: Social
    sponsorlist:
    - name: MySQL / Sun Microsystems
  - name: Gold
    sponsorlist:
    - name: OS4B
    - name: ReThink Recruitment
    - name: TEKsystems
  - name: Bronze
    sponsorlist:
    - name: Adobe
    - name: IBM
    - name: O'Reilly
    - name: Packt Publishing
  - name: Media
    sponsorlist:
    - name: Techfluff.TV
    - name: The Guardian
    - name: thelondonpaper
  - name: Community
    sponsorlist:
    - name: PHP London
    - name: PHPNW
    - name: phpGG
    - name: Facebook Developer Garage London
    - name: PHPWomen
    - name: ProcessMaker
speakers:
---

<h1>PHP UK CONFERENCE 2009 ARCHIVE</h1>
<h2>Friday February 27, 2009</h2>
<ul>
    <li>
        <h3>Organisers: </h3>
        <ul>
            <li>Matt Raines</li>
            <li>Franck Cassedanne</li>
            <li>Marcus Baker</li>
            <li>Dave Nattriss</li>
            <li>Richard Foster</li>
        </ul>
    </li>
</ul>

<a href="http://joind.in/event/view/15">Joind.in Feedback</a>