---
title: 2010
date: 2010-02-26
tags:
  - archive
sponsors:
  - name: Platinum
    sponsorlist:
    - name: Microsoft
    - name: PayPal
  - name: Social
    sponsorlist:
    - name: Facebook
  - name: Gold
    sponsorlist:
    - name: Ibuildings
    - name: Bytemark Hosting
  - name: Bronze
    sponsorlist:
    - name: data.gov.uk
    - name: GroupSpaces
    - name: Logical Elements
    - name: O'Reilly
    - name: Packt Publishing
    - name: TEKsystems
  - name: Media
    sponsorlist:
    - name: Techfluff.TV
  - name: Community
    sponsorlist:
    - name: PHP London
    - name: PHPNW
    - name: PHPWomen
    - name: Drupal UK
    - name: Facebook Developer Garage London
    - name: Agavi
    - name: Web Directions @media
speakers:
  - name: Stephan Priebsch
    slug: stephanpriebsch
    bio: |
      <a href="http://priebsch.de">Stefan</a> is a Co-Founder and Principal Consultant with <a href="http://thephp.cc">thePHP.cc</a>. He holds a degree in computer science and is author of various books and technical articles. As a consultant, he helps customers make better use of PHP, with a focus on software architecture, design patterns, and tools and methods.
---

<h1>PHP UK CONFERENCE 2010 ARCHIVE</h1>
<h2>Friday February 26, 2010</h2>
<p>PHP UK Conference 2010 is PHP London's fifth annual conference, and powered by PHP London.</p>
<ul>
    <li>
        <h3>Organisers: </h3>
        <ul>
            <li>Matt Raines</li>
            <li>Johanna Cherry</li>
            <li>Scott MacVicar</li>
            <li>Franck Cassedanne</li>
            <li>Dave Nattriss</li>
        </ul>
    </li>
</ul>
<a href="http://joind.in/event/view/140">Joind.in Feedback</a>