---
title: 2015
date: 2015-02-26
tags:
  - archive
sponsors:
  - name: Platinum
    sponsorlist:
    - 
      name: Sainsbury's
      slug: sainsburys
      type: Platinum
      url: http://www.sainsburys.jobs/role/store-support-centre/it
      description: |
        Change the world at Sainsbury’s. Write the next generation of beautiful code to solve the most complex of puzzles and problems. Create innovations that inspire and excite. Be influenced by the best, but set your sights even higher.
  
        At the core of our 140-year history is the drive to give our millions of customers the standard of service they deserve. And, as more and more of them turn to technology – for everyday shopping, information about our stores and products and for lifestyle ideas – we’ve been inspired to invest heavily in Digital and Technology.
  
        We’ve re-organised it, re-invigorated it, to meet evolving customer and colleague needs. We’re dedicated to delivering the very best digital experience across every format. Developing teams that will put us clicks ahead of the competition.
  
        Ours is one of the fastest-moving sectors around. So we’re looking for the most savvy development professionals out there. Who can spot opportunities and trends before they happen, identify areas for improvement and see every problem as an opportunity to do something amazing.
  
        So if you want to go further, faster, take a look at our current vacancies and don’t just imagine the impact you could make. Tell us. 
  - name: Track
    sponsorlist:
    - 
      name: Affiliate Window
      slug: affiliate-window
      type: Track
      url: http://www.affiliatewindow.com
      description: |
        Affiliate Window exists to provide its clients with the best service and technology available in performance marketing. With offices in the UK and US and over 240 employees, our aim is to exceed expectations in everything we do.

        Our technology is developed in-house using the latest methodologies, offering custom proprietary solutions for our partners. Our service has led to us receiving numerous awards including the UK's coveted Publishers' Choice of Network award six times. Our platform features comprehensive dashboards and a partner directory allowing users to discover and connect with a range of high quality advertisers and publishers.
    - 
      name: SilverStripe
      slug: silverstripe
      type: Track
      url: http://www.silverstripe.org
      description: |
        SilverStripe is the intuitive content management system and flexible PHP framework loved by editors and developers alike. SilverStripe is headquartered in Wellington, New Zealand and has offices in Auckland and Australia. The easily extendible open source framework has a loyal developer community across the globe. With a UK office opening soon the PHP UK event will serve as the company's European launch.
  - name: Cloud Bar
    sponsorlist:
    - 
      name: Engine Yard
      slug: engine-yard
      type: Cloud Bar
      url: http://www.engineyard.com
      description: |
        Engine Yard is the leading Platform as a Service (PaaS) empowering developers to plan, build, deploy and manage applications in the cloud.

        Providing unmatched control and choice, Engine Yard delivers a trusted, complete application cloud and expert developer support that enables organizations to focus on creating great applications, instead of managing their platform.

        Thousands of customers in 58 countries, from explosive-growth Web startups to Fortune 500 enterprises, run on Engine Yard. Headquartered in San Francisco, Calif., Engine Yard is backed by Benchmark Capital, New Enterprise Associates, Oracle and Amazon.
  - name: Hackathon
    sponsorlist:
    - 
      name: JetBrains
      slug: jetbrains
      type: Hackathon
      url: http://www.jetbrains.com
      description: |
        JetBrains has a passion for making developers more productive. We design intelligent development tools to simplify your challenging tasks, automate the easy ones, and help you develop with pleasure.

        PhpStorm is a PHP IDE that actually 'gets' your code, supports PHP 5.3/5.4/5.5 and features on the fly error prevention, best autocompletion & code refactoring, zero configuration debugging, the best HTML, CSS, and JavaScript editor.

        We also offer top-notch IDEs for Java, JavaScript, Ruby, Python, and Objective-C, as well as a pack of tools for .NET developers and team productivity tools for continuous integration and issue tracking.

        With headquarters in Prague, Czech Republic, we also have R&D labs in Russia, USA and Germany.
  - name: Social
    sponsorlist:
    - 
      name: New Relic
      slug: new-relic
      type: Social
      url: http://www.newrelic.com
      description: |
        New Relic is a software analytics company that makes sense of billions of data points about millions of applications in real time. Our comprehensive SaaS-based solution provides one powerful interface for web and native mobile applications and consolidates the performance monitoring data for any chosen technology in your environment. We have over 250,000 users that utilize our cloud solution to analyze more than 690 billion data points per day across more than 4 million application instances. When your brand and customer experience depend on the performance of modern software, New Relic provides insight into your overall environment.
    - 
      name: DreamFactory
      slug: dreamfactory
      type: Beer Factory
      url: http://www.dreamfactory.com
      description: |
        DreamFactory is a PHP-powered open source backend for developing enterprise mobile apps. DreamFactory connects any data source to any mobile device and removes the pain of building your own mobile middleware. 

        How does it work? DreamFactory is a run-time software platform that automatically generates a REST API for SQL databases, NoSQL databases, and file storage systems like S3. You install the DreamFactory open source package on a cloud server, Linux, Windows, or Mac. Then you simply call the REST API from the app you're building, using DreamFactory's client SDKs for Javascript, AngularJS, iOS, Android, Titanium, and Windows Mobile. DreamFactory provides a robust security layer for user, credential, and role management and simplifies server-side scripting for customisation and workflow. 

        The end result: a pre-built, highly customisable backend that reduces development time and enables developers to focus on building great mobile applications that connect to enterprise data.
  - name: Local
    sponsorlist:
    - 
      name: The Client Relationship Consultancy
      slug: the-crc
      type: Local
      url: http://www.clientrelationship.com
      description: |
        The experts in agency client relationships. We work with the world’s leading agencies, including every major agency group, to help them monitor and strengthen their client relationships in order to make their business more secure.

        Ours is a discreet service. Any agency that works with us knows it will be in complete confidence.
    - 
      name: Inviqa
      slug: inviqa
      type: Local
      url: http://www.inviqa.com
      description: |
        The Inviqa team are the UK’s leading PHP experts providing consultancy, development, training and support to the most ambitious of businesses. As a company with deep roots in quality software engineering, we put great emphasis on the agility and value of our delivery, and we’re proud to count some of the world’s leading organisations as clients, including the BBC, Vodafone, Virgin, and Nokia. 

        Our team are the best at what they do, and that’s no understatement. Across our seven UK offices and one Munich-based team, our engineers, analysts, project managers, consultants and trainers deliver the most complex and creative of projects. When it comes to quality, we set our standards high because we believe it’s what our clients measure us on, and it’s what great reputations are built upon. 

        Want to join the team or know more about what Inviqa can do for your business?
  - name: Special
    sponsorlist:
    - 
      name: Shopware AG
      slug: shopware
      type: Coffee
      url: http://www.shopware.com
      description: |
        Shopware AG is one of the leading manufacturers of online shop systems in Germany. As an independent, equity-financed company, we develop high quality software on-site and work closely with our customers and partners in order to optimize our product. We evolve transparently and always remain flexible and open to requests from our growing community. These qualities produce high annual growth rates in addition to premium levels of service, which distinguish us from the rest.
    - 
      name: Digital Ocean
      slug: digital-ocean
      type: Cupcake
      url: http://www.digitalocean.com
      description: |
        DigitalOcean is a web hosting platform created for developers at any scale. Users can spin up a “Droplet” in 55 seconds to access DigitalOcean’s secure, fast, reliable Solid-State Drive (SSD) servers on which applications and websites can be built.

        DigitalOcean uses KVM (kernel-based Virtual Machine) to virtualize its servers, and provides more than 380,000 users with a simple, easy to use interface. DigitalOcean’s API allows users to manage Droplets and resources on a larger scale within the DigitalOcean cloud in a straightforward, programmatic way, using conventional HTTP requests.
  - name: Bronze
    sponsorlist:
    -
      name: CampaignAmp
      slug: campaign-amp
      type: Bronze
      url: http://www.campaignamp.com
      description: |
        CampaignAmp is the innovative Intelligent Project Management start-up making huge moves in the Marketing and PR industries. Founded in 2013, our platform allows teams across the world to turbo charge their project management by unlocking the power of their data. Driven by the huge time waste and communication issues prevalent across old methods, we developed a platform to make things simple. CampaignAmp creates an efficient work flow by giving context to data, and brings the entire campaign team together in one place, on any device. CampaignAmp now finds itself expanding into other industries such as PR, Publishing and Film and is growing exponentially on an international scale. Some of our clients include Universal, Sony, Ministry of Sound, 7Stars and Bauer Media, and the platform is now being used in multiple territories across the globe, 24 hours a day.
speakers:
  - name: Aaron Jorbin
    slug: aaronjorbin
    handle: aaronjorbin
    company: Conde Nast
    bio: |
      Aaron Jorbin is a polyhistoric man of the web. Currently Technical Architect on the Conde Nast Platform Team and a WordPress Core Committer, he works to improve developer happiness and is dedicated to making the internet usable and enjoyable by everyone. He tweets at <a href="https://twitter.com/aaronjorbin">@aaronjorbin</a> and writes regularly at <a href="http://aaron.jorb.in">aaron.jorb.in</a>.
  - name: Anne-Julia Scheuermann
    slug: anne-juliascheuermann
    handle: dazzlog
    company: Imagine Easy Solutions
    bio: |
      Anne-Julia Scheuermann is Tech Lead at Imagine Easy Solutions, a company specializing in providing solutions for the education industry. Over the last 10 years Anne has been developing web-applications with all kinds of frameworks and loves writing and reading clean code.
  - name: Bastian Hofmann
    slug: bastianhofmann
    handle: bastianhofmann
    company: ResearchGate
    bio: |
      Bastian works as a Software Engineer at ResearchGate, the social network for researchers and scientists. There he is mainly responsible for designing the web frontend's software architecture and caring about performance, monitoring and developer productivity. Before that he created the games and application platform and the APIs of the VZ-networks. When he is not developing stuff, he frequently speaks at international conferences on software architecture, scaling web applications and open standards and protocols.
  - name: Ben Waine
    slug: benwaine
    handle: bwaine
    company: Love, Software
    bio: |
      Ben is a Software Engineer from London specialising in PHP. Having worked with a number of large companies on high scalability projects such as Betting and Gaming, TV Game Shows and Telecom providers he is ideally placed to share his knowledge on building and testing apps that scale.
  - name: Beth Tucker Long
    slug: bethtuckerlong
    handle: e3betht
    company: Code Climate
    bio: |
      Beth Tucker Long is a PHP developer and advocate at Code Climate and co-organizer of Madison PHP. You can find her on Twitter (<a href="http://twitter.com/e3betht">@e3betht</a>) or on her blog (<a href="http://www.alittleofboth.com">http://www.alittleofboth.com</a>). Beth is a firm believer in promoting community and mentoring. She runs Treeline Design, a web development company, and Playlist Event Music, a DJ company, along with her husband, Chris.
  - name: Billie Thompson
    slug: billiethompson
    handle: billieathompson
    company: Purple Booth Ltd
    bio: |
      Billie Thompson is a contracting software developer. She's been contracting from her own company Purple Booth Ltd for two and half years but has been working in software development for over six years. During that time she has got to play with lots of cool technology, everything from RabbitMQ, to NodeJS, to Puppet and beyond (as well as the usual suspects of Zend, Zend 2 and Symfony2). However primarily she's a PHP developer.
  - name: Christopher Pecoraro
    slug: christopherpecoraro
    handle: chris__pecoraro
    company: Mosaicoon
    bio: |
      Christopher Pecoraro has been building PHP-based web applications since 1999. He is currently a senior software engineer at Mosaicoon in Italy where he led the adoption of the Laravel PHP Framework. Christopher has co-authored several peer-reviewed biomedical informatics publications and was an invited speaker at phpDay 2014. In his free time, he enjoys traveling, cooking, and learning foreign languages.
  - name: Chris Levy
    slug: chrislevy
    handle: levofski
    company: Strategies
    bio: |
      Chris has been a PHP Developer for 10 years and has worked with many systems including Symfony2, Zend Framework 1 and 2, and Magento. He currently builds bespoke web applications with ZF1 and ZF2 and is a self-confessed Version Control Zealot. Chris is an Open Source believer and has made contributions to Open Source.
  - name: Christopher Hoult
    slug: christopherhoult
    handle: choult
    company: DataSift
    bio: |
      A 23-year American transplant to the UK, Christopher is an Engineering Team Lead at DataSift, overseeing the web application, public API and a number of internal services at the world's leading processor of human data. Prior to this, he was a Senior Engineer at Time Out Digital, helping to design and deliver their global platform as well as the day to day running of the Time Out London and Paris websites. In his spare time, his passion is theatre, and has been the Marketing Manager at Reading's Progress Theatre for the past two years as well as regularly appearing on its stage.
  - name: Ciaran McNulty
    slug: ciaranmcnulty
    handle: ciaranmcnulty
    company: Inviqa
    bio: |
      In his role as Training Manager at Inviqa and Sensio Labs UK, Ciaran helps teams at all levels of ability improve via training and coaching. He has been a PHP professional since the late 90s and is passionate about TDD, BDD and Agile methodologies. He is a core contributor to PhpSpec.
  - name: Dan Miller
    slug: danmiller
    handle: jazzdan
    company: Etsy
    bio: |
      Dan Miller is a Software Engineer working on infrastructure at Etsy, a marketplace where people around the world connect to buy and sell unique goods. Prior to Etsy he completed a Computer Science degree at university where he learned to stop worrying and love distributed systems. When he's not practicing "Fatal Error Driven Development" he can be found traveling, exploring nature and playing the trumpet.
  - name: Davey Shafik
    slug: daveyshafik
    handle: dshafik
    company: Engine Yard
    bio: |
      Davey Shafik is a full-time developer with over 14 years of experience in PHP and related technologies. He is a Community Engineer at Engine Yard and has written three books, numerous articles, and spoken at conferences the world over. He is best known for his books, the <a href="http://zceguide.com">Zend PHP Certification Study Guide</a> and <a href="https://learnable.com/books/php-master-write-cutting-edge-code">PHP Master: Write Cutting Edge Code</a>, and as the originator of <a href="http://php.net/phar">PHP Archive (PHAR)</a> for PHP 5.3. Davey is passionate about improving the tech community. He co-organizes the <a href="http://prompt.engineyard.com">Prompt</a> initiative (<a href="http://prompt.engineyard.com">prompt.engineyard.com</a>), dedicated to lifting the stigma surrounding mental health discussions, and has worked with <a href="http://phpwomen.org">PHPWomen</a> since its inception.
  - name: Derick Rethans
    slug: derickrethans
    handle: derickr
    company: MongoDB
    bio: |
      Derick Rethans is a PHP internals expert, author of <a href="http://xdebug.org">Xdebug</a> and an <a href="http://openstreetmap.org">OpenStreetMap</a> and mapping enthusiast.</p><p>He has contributed in a number of ways to the PHP project, including the <a href="http://xdebug.org">Xdebug</a> debugging tool, and various extensions and additions. He's a frequent lecturer at <a href="httpd://derickrethans.nl/talks.html">conferences</a>, the author of <a href="http://phpdatebook.com">php|architect's Guide to Date and Time Programming</a>, and the co-author of <a href="http://www.amazon.co.uk/exec/obidos/ASIN/013147149X/derickrethans-21">PHP 5 Power Programming</a>. He is now working at <a href="http://mongodb.com">MongoDB</a> to work on the <a href="http://pecl.php.net/mongo">PHP driver</a> for <a href="http://mongodb.org">MongoDB</a>.
  - name: Gabriela D'Ávila
    slug: gabrieladavila
    handle: gabidavila
    company: Scup
    bio: |
      Gabi is a Senior Software Engineer at <a href="http://www.scup.com/en" title="Scup">Scup</a> headquarted at São Paulo, Brazil. She has spent the last 3 years programming from e-commerce to corporate systems, designing databases and making stuff work! She believes that refactoring an application is not just about the code, but also about the data. Lego enthusiast, book junkie, she tries in her spare time to make <a href="http://www.wediversi.fi" title="WeDiversifi">WeDiversifi</a> go forward.
  - name: Gary Hockin
    slug: garyhockin
    handle: geeh
    company: Roave/Zend
    bio: |
      Gary has been a web developer for over 15 years, and is currently working as CTO for Yamgo and Adverts On The Go, along with consulting regularly for the amazing Roave team. He is also a contributor and documentation maintainer for Zend Framework 2. When not working or spending time with his wife and two daughters, Gary can sometimes be found at the pub playing competitive pool. 
  - name: Gordon Skinner
    slug: gordonskinner
    handle: gordon_skinner
    company: ReChannel
    bio: |
      Gordon is CTO at ReChannel, a startup aimed at providing a wholesale retail b2b service linking buyers and brands.  In previous lives he worked with moo, WeeWorld and as a Team Lead at Inviqa.  When not writing or talking about software, he can usually be found propping up a bar somewhere arguing the relative merits of Led Zep's back catalogue and expressing bafflement at the inexplicable craze for Selfies.
  - name: James Titcumb
    slug: jamestitcumb
    handle: asgrim
    company: Protected.co.uk
    bio: |
      James is the founder of the UK based PHP Hampshire user group, a Zend Certified Engineer and Development Manager at Protected.co.uk. His day job sees him working on ZF2 and legacy projects. During his downtime, he continues to run the PHP Hampshire user group, as well as keeping up with active contributions to open source projects, such as the Browser Capabilities Project.
  - name: Javier Lopez
    slug: javierlopez
    handle: loalf
    company: Rightster
    bio: |
      Javier López is a software engineer, currently working as a Senior Platform Engineer for Rightster. Even thought he's been working with PHP for the last eight years and is a Symfony Certified as well as a ZEND Certified Engineer PHP 5 he's recently joined the dark side and now mixes PHP with Java and Scala in his daily job. When not coding away, he is one of the co-organisers of "deSymfony", the largest Spanish speaking Symfony conference in the world.
  - name: Jenny Wong
    slug: jennywong
    handle: miss_jwo
    company: Human Made
    bio: |
      Jenny is a web developer at <a href="http://hmn.md">Human Made</a>. Her love for development goes beyond the screen &amp; Jenny is an advocate for both the PHP and WordPress communities.  As a speaker &amp; conference organiser, she loudly cheers people on to share knowledge &amp; contribute back to their communities.
  - name: Jeremy Quinton
    slug: jeremyquinton
    handle: jeremyquinton
    company: Freelance
    bio: |
      Jeremy Quinton is a freelance PHP Developer as well as an Open Source Enthusiast and Devops Evangelist. He has over 10 years experience building, deploying and maintaining small websites to enterprise level web applications on the Lamp stack using a varied collection of Open Source technologies and Frameworks. When he is not coding and hunting down obscure bugs he enjoys tinkering with new Open Source technologies, traveling and running.
  - name: Jordi Boggiano
    slug: jordiboggiano
    handle: seldaek
    company: Nelmio
    bio: |
      Jordi Boggiano is the author of a few open source apps/libs (Composer, Monolog, php-console, ..), and frequent contributor to other projects (Symfony2, Twig and others). He has been involved in web development for over 10 years, working mostly with PHP and JavaScript. He is currently maintaining Composer/Packagist while working on Toran Proxy. Find out more at <a href="http://nelm.io/jordi">http://nelm.io/jordi</a>.
  - name: Joshua Thijssen
    slug: joshuathijssen
    handle: jaytaph
    company: TechAnalyze
    bio: |
      Joshua Thijssen is owner of TechAnalyze.io and a consultant and trainer at TechAdemy. His daily work consists of maintaining code bases, working on different projects and helping other to achieve higher standards in both coding and thinking. He is the author of the PHP|Architect book "Mastering the SPL library", founder of the Dutch Web Alliance and regular speaker at national and international conferences.
  - name: Liam Wiltshire
    slug: liamwiltshire
    handle: l_wiltshire
    company: Absolute Design
    bio: |
      Liam is a software developer and director of development at <a href="http://www.absolute-design.co.uk/" title="Absolute Design">Absolute Design</a> in Nottingham.  In his eight years as a dev, he's tackled projects large and small, from multi-million pound eCommerce sites to the plumber down the road looking for 'mates' rates. These days Liam focuses on back-end integration and eCommerce development, and in his spare time is trying to learn the secret to actually having some spare time.
  - name: Lorna Mitchell
    slug: lornamitchell
    handle: lornajane
    company: Freelance
    bio: |
      Lorna is a web development consultant and author based in Leeds, UK. Her books include "PHP Master", "PHP Web Services", "Git Workbook" and "N Ways To Be A Better Developer", and she has spoken at events around the world giving both keynotes and technical talks.  At work Lorna spends part of her time as Principal Developer at Siftware, and the rest taking on specialist API consultancy and training on a range of topics from git to APIs via PHP.  In her spare time Lorna leads the Joind.In open source project; a tool to enable communities to give real-time, public feedback to speakers and organisers of events.
  - name: Michelle Sanver
    slug: michellesanver
    handle: michellesanver
    company: Liip
    bio: |
      Michelle Sanver is president of PHPWomen, an inclusive &amp; global network providing support within the PHP community. She also works as a software developer at Liip, based in Zürich, Switzerland. Michelle loves anything community related and is a big advocate of Open Source. She is a code-passionate colourful geek and with more than 10 years of PHP experience she is eager to share her extensive knowledge.
  - name: Marcello Duarte
    slug: marcelloduarte
    handle: _md
    company: Inviqa
    bio: |
      <a href="http://marcelloduarte.net">Marcello Duarte</a> is the lead developer of <a href="http://phpspec.net">PhpSpec</a> and heads the Training at <a href="http://inviqa.com">Inviqa</a>, a leading PHP consultancy business in Europe. He’s been awarded <a href="http://www.ukagileawards.com/content/nominees">best UK Agile coach 2014</a> and has helped many teams in many organisations into Agile processes and development practices like Scrum, TDD, Refactoring, Collaborative Product Ownership and Software Quality.
  - name: Nate Abele
    slug: nateabele
    handle: nateabele
    company: Radify
    bio: | 
      Nate Abele first took an interest in programming at age 11, so you can tell how cool he is. In the course of his career, he has mostly eschewed working for large companies, in favor of the culture found in small businesses & startups. Nate has been employed by one of the most well-known & well-respected PHP consultancies in the world, and has worked on projects of all shapes and sizes. In other, more esoteric periods of work history, Nate has also worked with a humble 'productivity' software vendor in greater Seattle, and a small fruit vendor outside San José.
      However, Nate is probably best known for his contributions to Open Source, including helping to create one of the most well-known & widely-used frameworks for PHP. 9 years' experience working on a large, high-adoption project has helped to inform & guide his current crop of Open Source projects (he accidentally co-founded the <a href="http://li3.me/">Li3 PHP framework</a>, and is a member of the AngularUI team), writing, teaching, and <a href="http://radify.io/">consulting</a>.
  - name: Ricard Clau
    slug: ricardclau
    handle: ricardclau
    company: Another Place Productions
    bio: | 
      Ricard works as a Server Engineer at Another Place Productions. Former tech lead at companies like Hailo and Socialpoint he is a Symfony2 lover and a strong PHP believer with wide experience in high-traffic environments with millions of users. He tries to contribute to open-source and is always interested in distributed systems, NoSQL databases and new programming paradigms with languages like Golang, Erlang or Scala.
  - name: Rob Allen
    slug: roballen
    handle: akrabat
    company: Nineteen Feet Limited
    bio: |
      Rob Allen is a software developer and consultant with many years of web development experience using PHP and related technologies. He contributes to Zend Framework and other open source projects. A Zend Framework specialist, Rob writes on <a href="http://akrabat.com">akrabat.com</a>, is a member of the ZF Community team and also wrote Zend Framework in Action. He is UK-based and runs Nineteen Feet Limited, focussing on web development, training and consultancy.
  - name: Stephan Hochdörfer
    slug: stephanhochdoerfer
    handle: shochdoerfer
    company: bitExpert AG
    bio: |
      Stephan Hochdörfer currently holds the position of Head of Technology at bitExpert AG, a company specializing in software and mobile development. His primary focus is everything related to web development as well as automation techniques ranging from code generation to deployment automation. 
  - name: Sarah Khalil
    slug: sarahkhalil
    handle: saro0h
    company: Sensio Labs
    bio: |
      Sarah is a scrum master, developer and a trainer @sensiolabs for almost 3 years now. She's a happy, curious and enjoying sharer.
  - name: Thijs Feryn
    slug: thijsferyn
    handle: thijsferyn
    company: Combell
    bio: |
      Thijs is an evangelist at Combell, a webhosting company in Belgium. As an evangelist he supports communities and has a particular love for the PHP community. He is passionate about code and infrastructure, but mainly focusses on the gap in between. His main goal is to bring technology to the people and the people to technology. Thijs is also an event organizer: he organizes the PHPBenelux Conference, he is the guy who organized the DamnData conference and is involved with a bunch of other events. He is probably figuring out a new event concept as we speak.
  - name: Yitzchok Willroth
    slug: yitzchokwillroth
    handle: coderabbi
    company: Independent Developer, Consultant & Coach
    bio: |
      Yitzchok Willroth is a Talmudic scholar and enterprise web application developer (though seldom at the same time) living in Lakewood, NJ. A start-up veteran and dev boot camp instructor, Yitzchok is often called upon to mentor young dev teams within the Orthodox community. He is the organizer of the ShorePHP User Group and an active participant in the PHPMentoring initiative. Passionate about clean code and robust application architecture, he is also a strong proponent of remote teams as a way for organizations to thrive while affording developers a healthy work:life balance.

---

<h1>ABOUT PHP UK</h1>
<p><a href="http://phplondon.org">PHP London</a> is pleased to announce the 10th Annual PHP UK conference; a 2-day event with 3 great tracks held at at <a href="/venue/" alt="The Brewery Event Venue" title="The Brewery Event Venue">The Brewery</a>, in the heart of the City of London.</p>
<p>With over 700 delegates, speakers, and sponsors, PHP UK conference aims to deliver fantastic up-to-date content about PHP and related web technologies in a comfortable and professional setting. There are countless networking opportunities to engage with international speakers and delegates, which makes the event one you won't want to miss.</p>
<p>Anyone is welcome to attend the conference, whether you're a professional web developer, hobbyist, manager, or just starting out, there's something for everyone.</p>
<p>The event kicks off on Wednesday evening with a special pubcon sponsored by PHP London. Each day will then start with an inspiring keynote presentation, followed by your choice of 3 tracks of talks or unconference sessions. Each day will close with a panel session followed by the evening's social event. There's also exhibition space for all sponsors, to fill in the spaces in between.</p>
<p>PHP UK Conference was started in 2006 with the aim to offer the local PHP community access to industry updates and professional development at an affordable rate. The conference is run solely by volunteer members of the PHP London community. Costs are minimised to keep ticket prices as low as possible, and any surplus funds are used to fund community events throughout the year and to fund the following year's conference.</p>
<h2>ORGANISERS</h2>
<div class="p-4 mb-8 border">
    <img class="rounded-full mb-4" src="http://www.gravatar.com/avatar/cfba4698b0acef6927797ff274ba5921" />
    <p><a href="http://johannacherry.com">Johanna Cherry</a> is a software engineer at <a href="https://www.crowdsurge.com/">CrowdSurge</a> in London working on their APIs and services. She has over 11 years experience developing web applications with PHP and lots of other cool web technologies. Prior to CrowdSurge, she was Data Team Lead at <a href="http://hailocab.com">Hailo</a> and Development Manager for the affiliate network <a href="http://webgains.com">Webgains</a> and Technical Team Lead for the PHP consultancy <a href="http://ibuildings.com">Ibuildings</a>. She earned a Bachelor of Science in Technology Management from <a href="http://herzing.edu">Herzing University</a> in Madison Wisconsin.</p>
    <p>Johanna is currently a Director of PHP London and manages speakers, socials, the venue, marketing, and delegate services for the conference.</p>
    <p><a class="btn" href="http://twitter.com/johannacherry">@johannacherry on Twitter &raquo;</a></p>
    <p><a class="btn" href="http://github.com/johannac">@johannac on Github &raquo;</a></p>
</div>
<div class="p-4 mb-8 border">
    <img class="rounded-full mb-4" src="http://www.gravatar.com/avatar/f5fe63e7ab9414080068bd761fbd0542" />
    <p><a href="//uk.linkedin.com/in/bellsam/">Sam Bell</a> is co-founder of charting startup <a href="http://www.chartblocks.com">ChartBlocks</a>, an online chart building tool. He is also managing director of web agency <a href="http://www.copiadigital.co.uk">Copia Digital</a> where he and his team build websites and web applications for hedge funds and asset managers, helping them report on fund performance to their investors.</p>
    <p>Sam is currently a Director of PHP London and manages registration, sponsors, exhibits, and volunteers for the conference.</p>
    <p><a class="btn" href="http://twitter.com/_samdb">@_samdb on Twitter &raquo;</a></p>
    <p><a class="btn" href="http://github.com/samdb">@samdb on Github &raquo;</a></p>
</div>