---
title: 2017
date: 2017-02-23
tags:
  - archive
sponsors:
  - name: platinum
    sponsorlist:
    - name: Red Hat OpenShift
    id: openshift
    type: platinum
    url: https://www.openshift.com
  - name: track
    sponsorlist:
    - name: SamKnows
      id: samknows
      type: track
      url: https://www.samknows.com
    - name: JetBrains
      id: jetbrains
      type: track
      url: https://jetbrains.com
  - name: gold
    sponsorlist:
    - name: Inviqa
      id: inviqa
      type: gold
      url: https://inviqa.com/careers
    - name: Nexmo
      id: nexmo
      type: gold
      url: https://www.nexmo.com/
    - name: Flypay
      id: flypay
      type: gold
      url: https://www.flypay.co.uk/
    - name: WP Engine
      id: wpengine
      type: gold
      url: https://wpengine.com/
    - name: SensioLabs
      id: sensiolabs
      type: gold
      url: https://sensiolabs.com/
  - name: silver
    sponsorlist:
    - name: Shopware
      id: shopware
      type: silver
      url: https://en.shopware.com
    - name: Siteground
      id: siteground
      type: silver
      url: https://www.siteground.com/
    - name: Contentful
      id: contentful
      type: silver
      url: https://www.contentful.com/
speakers:
---