<section class="py-24 bg-black bg-cover bg-center" role="banner" style="background-image: url(/images/sponsors-hero.jpg);">
	<div class="container mx-auto px-8">
		<article class="bg-black p-8 shadow-lg rounded-lg max-w-lg">
			<i class="inline-block font-mono text-blue-500 mb-4 lowercase">&#60; What_to_expect &#47;&#62;</i>
			<h3 class="text-2xl md:text-3xl text-white mb-8 mt-4">Our sponsors</h3>
			<p class="mb-8 font-mono text-gray-600">Check out photos and feedback from previous events to find out what you can expect at Applied AI.</p>
			<a class="inline-block mb-8 md:mb-0 text-sm uppercase tracking-widest rounded-full py-3 px-6 text-white font-semibold bg-blue-600 border-2 border-blue-600 hover:bg-white hover:border-white hover:text-blue-600 mr-4" href="/photos">Show me more</a>
		</article>
	</div>
</section>