<aside class="bg-blue-600 pattern-circuit p-16 pb-40 text-center">
	<h3 class="text-blue-300 font-light text-xl lg:text-3xl mb-2">Countdown to PHP UK</h3>
	<div class="flex justify-center text-white" id="countdown" data-date="{{site.date}}">
		<div class="p-4 lg:px-8 lg:w-40">
			<span class="text-2xl lg:text-6xl font-extrabold days">0</span>
			<div class="text-sm font-mono">Days</div>
		</div>
		<div class="p-4 lg:px-8 lg:w-40">
			<span class="text-2xl lg:text-6xl font-extrabold hours">0</span>
			<div class="text-sm font-mono">Hours</div>
		</div>
		<div class="p-4 lg:px-8 lg:w-40">
			<span class="text-2xl lg:text-6xl font-extrabold minutes">0</span>
			<div class="text-sm font-mono">Minutes</div>
		</div>
		<div class="p-4 lg:px-8 lg:w-40">
			<span class="text-2xl lg:text-6xl font-extrabold seconds">0</span>
			<div class="text-sm font-mono">Seconds</div>
		</div>
	</div>
</aside>