<aside class="bg-blue-600 pattern-circuit p-16 pb-40 text-center">
	<h3 class="text-blue-400 font-light text-3xl">Count every second until the event</h3>
	<div class="flex justify-center text-white" id="countdown" data-date="{{site.date}}">
		<div class="p-8">
			<span class="text-6xl font-extrabold days"></span>
			<div class="text-sm font-mono">Days</div>
		</div>
		<div class="p-8">
			<span class="text-6xl font-extrabold hours"></span>
			<div class="text-sm font-mono">Hours</div>
		</div>
		<div class="p-8">
			<span class="text-6xl font-extrabold minutes"></span>
			<div class="text-sm font-mono">Minutes</div>
		</div>
		<div class="p-8">
			<span class="text-6xl font-extrabold seconds"></span>
			<div class="text-sm font-mono">Seconds</div>
		</div>
	</div>
</aside>