<aside id="cta" class="fixed rounded-sm shadow-xl inset-x-0 bottom-8 flex bg-white w-4/5 max-w-5xl m-auto px-6 py-4 flex items-center justify-between">
  <div class="text-center">
    <span class="block font-bold text-4xl text-blue-500">3*</span>
    <span class="block text-gray-500 text-sm">days of learning</span>
  </div>
  <div class="text-center">
    <span class="block font-bold text-4xl text-blue-500">3</span>
    <span class="block text-gray-500 text-sm">simultanious tracks</span>
  </div>
  <div class="text-center">
    <span class="block font-bold text-4xl text-blue-500">15th</span>
    <span class="block text-gray-500 text-sm">annual conference</span>
  </div>
  <div class="text-center">
    <span class="block font-bold text-4xl text-blue-500">30</span>
    <span class="block text-gray-500 text-sm">hand-picked speakers</span>
  </div>
  <div>
    <a class="inline-block text-sm uppercase tracking-widest rounded-full py-3 px-6 text-white font-semibold bg-blue-600 hover:bg-white hover:text-blue-600" href="{{site.tickets_url}}" target="_blank" rel="noopener">Get Tickets</a>
  </div>
</aside>