<div class="bg-black p-4 md:p-10 rounded-sm my-8">
  <div class="flex flex-col lg:flex-row lg:items-center">
    <div class="max-w-2xl">
      <i class="inline-block font-mono text-blue-500 mb-4 lowercase">&#60; donate &#47;&#62;</i>
      <h3 class="text-2xl md:text-3xl text-white mb-8 lg:mb-0 mt-4 max-w-lg">Donate to the scholarship programme</h3>
      <p class="text-sm mt-4 font-mono text-gray-700 max-w-lg">You can support our programme and make an individual donation on our tickets page.</p>
    </div>
    <div class="lg:text-right flex-grow">
      <a class="inline-block text-sm uppercase tracking-widest rounded-full py-3 px-6 text-white font-semibold bg-blue-600 hover:bg-white hover:text-blue-600" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=M8YK6AD73G2ZS" target="_blank">Donate Here</a>
    </div>
  </div>
</div>