<div class="footer-wrapper">
    <footer id="footer" class="footer bg-gray-200 pb-40" role="contentinfo">
        <div class="footer-inner container m-auto md:flex justify-between items-center px-8 py-10">
            <p class="text-gray-600 text-sm pb-8 md:pb-0">© Vitis Events Ltd. Registered company 09693545</a>
        </p>
        {% include 'components/social-icons.njk' %}
    </div>
</footer>
</div>