<div class="footer-wrapper">
  <footer id="footer" class="footer bg-blue-500" role="contentinfo">
    <section class="container px-8 py-4 mx-auto flex flex-col lg:flex-row">
      <div class="flex-1">
        <ul class="md:flex items-center mb-2">
          <li class="mb-4 md:mr-5 md:mb-0">
            <span class="link text-sm tracking-wider text-white font-semibold hover:text-white uppercase">About</span>
          </li>
          {% for item in navigation.footer %}
            <li class="mb-4 md:mr-5 md:mb-0">
              <a href="{{ item.url | safe }}" class="link text-sm tracking-wide text-blue-200 hover:text-white"{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <ul class="md:flex">
          <li class="mb-4 md:mr-5 md:mb-0">
            <span class="link text-sm tracking-wider text-white font-semibold hover:text-white uppercase">support &amp; contact</span>
          </li>
          {% for item in navigation.support %}
            <li class="mb-4 md:mr-5 md:mb-0">
              <a href="{{ item.url | safe }}" class="link text-sm tracking-wide text-blue-200 hover:text-white"{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="mt-8 md:w-1/4 lg:mt-0 lg:text-right">
        <h5 class="link text-sm tracking-wider text-white font-semibold hover:text-white uppercase mt-0 mb-4">Code of conduct</h5>
        <p class="text-sm text-blue-200">We operate a <a href="/conduct/" class="underline text-white hover:text-blue-100">code of conduct</a> to ensure all attendees are able to enjoy the conference.</p>
      </div>
    </section>
    <div class="footer-inner container m-auto md:flex justify-between items-center px-8 py-10">
      <p class="text-blue-200 text-sm pb-8 md:pb-0">© Vitis Events Ltd. Registered company 09693545</p>
      {% include 'components/social-icons.njk' %}
    </div>
  </footer>
  {% include 'components/countdown.njk' %}
</div>