<section id="hero" class="hero bg-blue-400" role="banner">
	<ul class="hero-slider text-white relative">
		{% for slide in slides.hero %}
			<li class="min-h-screen xl:min-h-75 bg-cover bg-center pt-24 md:pt-40 pb-24 md:pb-48 relative" style="background-image: url({{slide.img}});">
                <div class="bg-blue-900 min-h-full w-full absolute top-0 left-0 opacity-50"></div>
				<section class="hero-slider-content relative p-8 container mx-auto min-h-full">
					<div class="flex items-center min-h-full">
						<div class="">
							<i class="font-mono lowercase">&#60; {{slide.heading}} &#47;&#62;</i>
							<h1 class="mt-8 lg:mt-4 mb-0 text-3xl md:text-4xl lg:text-6xl font-bold">{{slide.title1}}</h1>
							<h1 class="mt-1 lg:mt-0 text-3xl md:text-4xl lg:text-6xl font-bold">{{slide.title2}}</h1>
							<p class="max-w-3xl text-2xl">{{slide.additional_content}}</p>
							<div class="flex">
                                <a class="inline-block flex flex-shrink-1 text-sm uppercase tracking-widest py-2 lg:py-3 px-3 lg:pr-6 lg:pl-4 mt-8 text-white font-semibold bg-blue-600 hover:bg-white hover:text-blue-600" href="{{slide.link}}" rel="noopener">
                                    {% include 'icons/arrow-right.njk' %}
                                    {{slide.linkText}}
                                </a>
							</div>
						</div>
					</div>
				</section>
			</li>
		{% endfor %}
	</ul>
</section>