<section class="p-8 container mx-auto h-full bg-white">
	<div class="max-w-xl animated slideInRight flex items-center h-full">
		<div class="">
			<i class="font-mono">&#60; {{slide.heading}} &#47;&#62;</i>
			<h1 class="text-6xl font-black">{{slide.title}}</h1>
			<p>{{slide.additional_content}}</p>
		</div>
	</div>
</section>