<section class="px-8 py-24 container mx-auto h-full">
	<div class="flex flex-col-reverse lg:flex-row items-center">
		<div class="lg:pr-16 mt-8 lg:mt-0 lg:w-1/2">
			<i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; PHP Training &#47;&#62;</i>
			<h2 class="text-3xl">About the event</h2>
			<p class="text-gray-600 text-xl mb-4">Our aim is for PHP UK to offer attendees a forum for learning and networking with the most up-to-date topics in PHP development and related tools, tailored specifically to the needs of developers and CTOs.</p>
			<p class="text-gray-600 text-xl mb-4">We are pleased to bring the 18th annual PHP UK conference to the tech community - a 2 day conference packed with amazing talks, plentiful networking opportunities and great social events. We hope to see you there!</p>
			<!--{% for paragraph in site.intro.content %}-->
				<!--<p class="text-gray-600 text-xl mb-4">{{paragraph}}</p>-->
			<!--{% endfor %}-->
			<a class="inline-block text-blue-600 px-8 py-3 mr-2 bg-blue-200 hover:bg-blue-400 hover:text-blue-800" href="/videos">View Videos</a>
			<a class="inline-block text-blue-500 px-8 py-3 bg-gray-200 hover:bg-blue-200 hover:text-blue-800" href="/attending/photos">View Photos</a>
		</div>
		<div class="w-full lg:w-1/2">
			<div class="gallery-video pl-2">
				<div id="fb-root"></div>
				<script async="1" defer="1" crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v5.0"></script>
				<div class="overflow-hidden rounded-lg fb-video shadow-lg" data-href="https://www.facebook.com/ukconference/videos/1273785939365602/">
					<blockquote cite="https://www.facebook.com/ukconference/videos/1273785939365602/" class="fb-xfbml-parse-ignore">
					<a href="{{site.intro.fb_video_url}}">PHP UK Conference 2017</a>
					<p>PHP UK Conference 2017</p>Posted by <a href="https://www.facebook.com/ukconference/">PHP UK Conference</a> on Wednesday, March 29, 2017</blockquote>
				</div>
			</div>
		</div>
	</div>
</section>