<nav id="nav" class="nav flex">
  <ul class="menu flex flex-col md:flex-row items-center list-reset text-base">
    {% for item in navigation.main %}
      <li class="level-1 mb-4 md:mr-10 md:mb-0">
        <a href="{{ item.url | safe }}" class="link text-sm font-semibold tracking-widest text-white hover:text-pink-500 uppercase {% if page.url == item.url %}active text-pink-500{% endif %} "{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}
        </a>
      </li>
    {% endfor %}
    <li>
      <a class="inline-block rounded-full md:ml-2 py-3 px-6 text-white font-bold border-2 border-white hover:bg-white hover:text-black" href="https://github.com/josephdyer/skeleventy" target="_blank" rel="noopener">Tickets</a>
    </li>
  </ul>
</nav>