<section class="bg-black text-white py-24">
	<div class="container mx-auto px-8 flex flex-col lg:flex-row lg:items-end">
		<div class="pr-16 lg:max-w-lg">
			<i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; newsletter &#47;&#62;</i>
			<h2 class="text-4xl">Stay updated with <br>PHP UK news</h2>
			<p class="text-sm mb-4 lg:mb-0 font-mono text-gray-600">Enter your email address to join the PHP UK Conference mailing list and be the first to hear our latest news and announcements.</p>
		</div>
		<div class="lg:w-2/3">
			<form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="30FEA77E7D0A9B8D7616376B900632318FE5D9E02012F7FACFAB8D56784439A4442473ADE295546EB4770306D9757A886DD095ACECD560AACCB4CFDBDBE6AA2E" class="rounded-sm bg-white shadow-2xl overflow-hidden">
				<div class="flex">
					<input id="fieldEmail" name="cm-nsujj-nsujj" class="js-cm-email-input p-2 lg:p-8 flex-grow text-black outline-none focus:bg-gray-100" type="email" placeholder="_Your Email"/>
					<input class="js-cm-submit-button p-2 lg:p-8 text-black bg-white font-bold cursor-pointer hover:text-blue-500" type="submit" value="&#60; send &#47;&#62;"/>
				</div>
			</form>
		</div>
	</div>
</section>
<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>  