<div class="gallery">
	{# <div class="gallery-item">
		<div id="fb-root"></div>
		<script async="1" defer="1" crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v5.0"></script>
		<div class="overflow-hidden rounded-lg fb-video" data-href="{{site.intro.fb_video_url}}">
			<blockquote cite="{{site.intro.fb_video_url}}" class="fb-xfbml-parse-ignore">
			<a href="{{site.intro.fb_video_url}}">PHP UK Conference 2017</a>
			<p>PHP UK Conference 2017</p>Posted by <a href="https://www.facebook.com/ukconference/">PHP UK Conference</a> on Wednesday, March 29, 2017</blockquote>
		</div>
	</div> #}
	{% for photo in collections.photos %}
		{% if loop.index0 < 12 %}
			<figure class="gallery-item"><img class="overflow-hidden rounded-lg" src="{{photo}}"></figure>
		{% endif %}
	{% endfor %}
</div>