
<div class="flex flex-no-wrap masonry -mt-20 z-10 h-32 overflow-hidden">
    {% for photo in collections.photos %}
    <figure class="item"><img class="overflow-hidden" src="/{{photo}}"></figure>
    {% endfor %}
</div>