
<div class="masonry mt-8">
	{% for photo in collections.photos %}
		{% if loop.index0 < 6 %}
			<figure class="item"><img class="overflow-hidden rounded-lg" src="{{photo}}"></figure>
		{% endif %}
	{% endfor %}
</div>