<section class="px-8 py-24 container mx-auto h-full bg-white">
	<div class="flex">
		<div class="pr-16 w-1/3">
			<i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; testimonials &#47;&#62;</i>
			<h2 class="text-4xl capitalize">What our sponsors have to say</h2>
		</div>
		<div class="w-2/3">
      <div class="testimonials-slider">
        {% for testimonial in testimonials.testimonials %}
          <blockquote>
            <div class="flex">
              <p class="text-gray-700 text-2xl ml-8">{{testimonial}}</p>
              <span class="relative">
                <span class="">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="140px" height="140px" viewBox="0 0 140 140" enable-background="new 0 0 140 140" xml:space="preserve">
                    <g>
                    <circle fill="#BDBDBD" cx="2.1" cy="2.5" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="47.3" cy="2.5" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="92.5" cy="2.5" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="137.8" cy="2.5" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="2.1" cy="47.3" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="47.3" cy="47.3" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="92.5" cy="47.3" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="137.8" cy="47.3" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="2.1" cy="93.2" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="47.3" cy="93.2" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="92.5" cy="93.2" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="137.8" cy="93.2" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="2.1" cy="137.5" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="47.3" cy="137.5" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="92.5" cy="137.5" r="1.5"></circle>
                    <circle fill="#BDBDBD" cx="137.8" cy="137.5" r="1.5"></circle>
                    </g>
                  </svg>
                </span>
                <span class="absolute top-0 right-0 px-6 py-2 text-5xl bg-blue-500 text-white font-black leading-none">”</span>
              </span>
            </div>
          </blockquote>
        {% endfor %}
      </div>
		</div>
	</div>
</section>