<section class="px-8 py-24 container mx-auto h-full bg-white">
  {% for sponsor in sponsors.sponsors %}
    <div class="lg:max-w-sm w-full lg:max-w-full lg:flex">
      <div class="mb-8 lg:h-auto lg:w-64 flex-none lg:text-center overflow-hidden">
        <a href="{{sponsor | safe}}" target="_blank">
          <img class="mb-4 w-64" src="{{sponsor.logo.url}}" alt="{{sponsor.logo.alt}}"/>
          <span class="
            inline-block
            {% if sponsor.type == "platinum" %} px-4 py-1 bg-gray-200 text-gray-700 border-4 border-gray-100 {% endif %}
            {% if sponsor.type == "track" %} px-2 bg-blue-200 text-blue-800 {% endif %}
            {% if sponsor.type == "gold" %} px-2 bg-yellow-200 text-yellow-800 {% endif %}
            {% if sponsor.type == "silver" %} px-2 bg-gray-100 text-gray-600 {% endif %}
            text-xs rounded-full uppercase font-semibold tracking-wider">{{sponsor.type}} Sponsor</span>
        </a>
      </div>
      <div class="lg:pl-8 pb-8 flex flex-col justify-between leading-normal">
        <div class="mb-8">
          <div class="text-gray-900 font-bold text-2xl mt-0 mb-2">{{sponsor.name}}</div>
          <span class="block text-gray-500 font-mono text-sm">{{sponsor.description | safe}}</span>
        </div>
      </div>
    </div>
  {% endfor %}
</section>