<section class="py-24 bg-white border-t border-gray-200">
	<div class="px-8 container mx-auto">
		<div class="flex flex-col lg:flex-row">
			<div class="lg:pr-16 lg:w-1/3">
				<i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; sponsored_by &#47;&#62;</i>
				<h2 class="text-3xl md:text-4xl">Amazing Partners &amp; Sponsors</h2>
				<a class="inline-block text-blue-500 px-8 py-3 bg-gray-100 hover:bg-blue-100 hover:text-blue-800" href="/sponsors/packages/">Become a sponsor</a>
			</div>
			<div class="lg:w-2/3">
				<div class="flex flex-wrap justify-center items-center">
					{% for sponsor in sponsors.sponsors %}
						<a href="{{sponsor.url}}" class="sponsor-icon mx-8 mt-8" target="_blank">
							<img class="h-16" src="{{sponsor.logo.url}}" alt="{{sponsor.logo.alt}}"/>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>