<section class="py-24 container px-4 mx-auto h-full bg-white">
	<div class="px-4 mb-8 flex flex-col lg:flex-row items-end">
		<div>
			<i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; video_archive &#47;&#62;</i>
			<h2 class="text-4xl capitalize">{{site.videos.title}}</h2>
			<p class="text-sm font-mono text-gray-700 max-w-3xl">{{site.videos.description}}</p>
		</div>
		<div class="flex-grow mt-4 lg:text-right">
			<a href="/videos" class="inline-block text-blue-500 px-8 py-3 bg-gray-100 hover:bg-blue-100 hover:text-blue-800">View all Videos</a>
		</div>
	</div>
	<div class="flex flex-col md:flex-row">
		{% for video in collections.featured | reverse %}
			{% if loop.index0 < 3 %}
				<a class="block hover:text-blue-500 mb-8" href="{{ video.url | safe }}">
					<article class="video-card px-4">
						<div class="relative">
							<img src="https://img.youtube.com/vi/{{ video.data.video_id }}/maxresdefault.jpg" alt="{{ video.data.title }}" class="video-card-thumb block rounded">
							<span class="video-card-play absolute">
								{% include "components/play-button.njk" %}
							</span>
						</div>
						<div class="mt-4">
							<i class="inline-block font-mono text-gray-400 mb-4 capitalize text-sm">&#60; {{video.data.speaker}} &#47;&#62;</i>
							<h2 class="text-2xl capitalize mb-0">
								{{ video.data.title }}
							</h2>
						</div>
					</article>
				</a>
			{% endif %}
		{% endfor %}
	</div>
</section>