//==========  Header ==========//

.nav {
  &-item {
    &-sub {
      display: none;
      animation: fadeInUp 0.15s ease-in-out;
    }

    &:hover {
      .nav-item-sub {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 768px) {
  .nav-black {
    .nav-content {
      color: #000;
    }
  }
}
