.location{
  display:block;
  width:100%;

  @media (min-width: 768px) {
    display:inline-block;
    width:30.5%;
  }
  @media (min-width: 1200px) {
    display:table-cell;
    width:30.5%;
  }
}

.main article:first-child .location{
  display:block;
  width:100%;

  @media (min-width: 768px) {
    display:inline-block;
    width:49.5%;
  }
  @media (min-width: 1200px) {
    display:table-cell;
    width:49.5%;
  }
}

.track{
  display:block;
  width:100%;
  vertical-align:top;

  @media (min-width: 768px) {
    display:inline-block;
    width:49.5%;
  }
  @media (min-width: 1200px) {
    display:table-cell;
    width:24.5%;
  }

  &:only-child{
    width:100%;
  }

  .track-slot-meta{
    min-height:142px;
  }

  &.break .track-slot-meta{
    min-height:0;
  }

  .speaker{
    a{
      text-decoration:underline;
    }
  }

  ul{
    margin-left:2rem;
    list-style:circle;
  }
}

.slot .time{
  vertical-align:top;
}