//========== Speaker ==========//
.speaker {
  // height: 32rem;

  &-column {
    width: 100%;
  }
  &-photo {
    filter: grayscale(100%) blur(0px);
    // mix-blend-mode: hard-light;
    transition: filter 0.35s ease-in-out;
  }
  &-gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      140deg,
      rgba(2, 0, 36, 1) 36%,
      rgba(99, 179, 237, 1) 100%
    );
  }
  &-bio {
    display: none;

    a {
      @apply text-blue-500;

      &:hover {
        @apply text-blue-400;
      }
    }
  }

  &:hover {
    .speaker {
      &-photo {
        filter: grayscale(100%) blur(8px);
        // mix-blend-mode: overlay;
      }
      &-bio {
        display: block;
        animation: fadeInUp 0.35s ease-in-out;
      }
    }
  }
}

@media (min-width: 768px) {
  .speaker {
    height: 32rem;

    &-column {
      width: 600px;
    }
  }
}
