//========== Speaker ==========//
.speaker {
  // height: 32rem;

  &-column {
    width: 100%;
  }
  &-photo {
    filter: grayscale(100%) blur(0px);
    // mix-blend-mode: hard-light;
    transition: filter 0.35s ease-in-out;
  }
  &-gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 6%,
      rgba(99, 179, 237, 0.1) 30%
    );
  }
  &-bio {
    display: none;

    a {
      @apply text-blue-500;

      &:hover {
        @apply text-blue-400;
      }
    }
  }

  &:hover {
    .speaker-gradient {
      background: rgb(2, 0, 36);
      background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 1) 6%,
        rgba(99, 179, 237, 1) 100%
      );
    }
    .speaker {
      &-photo {
        filter: grayscale(100%) blur(8px);
        // mix-blend-mode: overlay;
      }
      &-bio,
      &-name,
      &-company{
        display: block;
        animation: fadeInUp 0.35s ease-in-out;
      }
    }
  }
}

@media (max-width: 768px){
  .speaker{
    min-height:100vw;
  }
}

@media (min-width: 768px) {
  .speaker {
    height: 28rem;

    &-column {
      width: 50%;
    }
  }
}

@media (min-width: 768px) {
  .speaker {
    height: 32rem;

    &-column {
      width: 25%;
    }
  }
}
