//==========  Video Card ==========//
.video-card {
  &-thumb {
    opacity: 1;
    transition: 0.15s opacity ease-out;
  }
  &-play {
    opacity: 0;
    transition: 0.15s opacity ease-out;
    bottom: -0.5rem;
    left: -0.5rem;
    transition-delay: 0.15s;
  }

  &:hover {
    .video-card {
      &-thumb {
        opacity: 0.15;
      }
      &-play {
        opacity: 1;
      }
    }
  }
}
