---
layout: default
permalink: 404.html
hidden: true
meta_title: 404
meta_description: 404 page description
body_class: 404
title: 404
gif_url: https://media.giphy.com/media/d7fTn7iSd2ivS/giphy.gif
---

<main class="main bg-black px-8 py-40 text-white text-center h-screen flex items-center">
  <section class="flex-1">
    <div class="inline-block rounded-full w-56 h-56 bg-white bg-cover bg-center" style="background-image: url({{gif_url}});"></div>
    <div>
      <i class="inline-block font-mono text-blue-400 my-4 uppercase text-4xl">&#60; {{title}} &#47;&#62;</i>
      <p class="text-gray-600 mb-8">Sorry, we can't find that page.</p>
      <a class="inline-block text-sm uppercase tracking-widest rounded-full py-3 px-6 text-white font-semibold bg-blue-600 hover:bg-white hover:text-blue-600" href="/">Go Home</a>
    </div>
  </section>
</main>