---
layout: default
meta_title: About
body_class: about
title: About
---
<section class="relative py-24 pt-40 bg-black bg-cover bg-center" style="background-image: url({{site.about.hero}});">
  <div class="bg-blue-800 h-full w-full absolute top-0 left-0 opacity-25"></div>
  <div class="relative px-8 container mx-auto items-center">
    <i class="inline-block font-mono text-blue-200 mb-4 lowercase">&#60; about &#47;&#62;</i>
    <h1 class="hero-title">About the PHP UK Conference</h1>
    <p class="text font-mono text-gray-200 max-w-3xl">{{site.about.description}}</p>
  </div>
</section>
<main class="main px-8 py-12 md:py-24">
  <section class="markdown container px-8 mx-auto">
    <h3>The Event</h3>
    <p>PHP UK is pleased to announce the 18th Annual PHP UK conference; a 2-day event with 2 great tracks held at at <a href="/venue/" alt="The Brewery Event Venue" title="The Brewery Event Venue">The Brewery</a>, in the heart of the City of London.</p>
    <p>Thursday and Friday will both have inspiring keynote presentations, followed by your choice of 2 tracks of talks. Each day will close with a final keynote followed by the evening's social event. Lunch will be served and refreshments will be available throughout the day.</p>
  </section>
  <section class="mx-auto">
    {% include 'components/callout.njk' %}
  </section>
  <section class="markdown container md:flex md:flex-row mx-auto">
    <div class="md:w-1/2 md:pr-8">
      <h3>Attending</h3>
      <p>Anyone is welcome to attend the conference, whether you're a professional, hobbyist, manager, or just starting out, there's <strong>something for everyone</strong>.</p>
      <p>PHP UK operates a <a href="/conduct">Code of Conduct</a> and we encourage all delegates to read it before attending the conference.</p>
    </div>
    <div class="md:w-1/2 md:pl-8 md:mt-0">
      <h3>Tickets</h3>
      <p>The PHP UK Conference is a full featured event, and ticket prices include all of the following:</p>
      <ul>
        <li>Entrance to all keynotes and conference sessions</li>
        <li>Entrance to all social events</li>
        <li>Breakfast, lunch, 2 cake &amp; coffee breaks</li>
        <li>All day access to the exhibit hall and delegate lounge</li>
        <li>Free WiFi, charging points and cloakroom</li> 
      </ul>
    </div>
  </section>
</main>
{% include 'components/photo-strip-about.njk' %}
{% include 'components/organisers.njk' %}
{% include 'components/sponsors.njk' %}