---
layout: default
meta_title: Home
meta_description: Homepage description
body_class: home
title: Homepage content
---
{% include 'components/hero.njk' %}
{% include 'components/intro.njk' %}
<main id="main" class="main container mx-auto p-8">
  <section id="container-centre" class="flex-1">

    <h1 class="page-title text-5xl">{{ title }}</h1>
    <p class="text-gray-600 mb-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus, sem id suscipit ullamcorper, massa augue auctor metus, sed dapibus neque diam ac neque. Nam eget velit in lectus egestas aliquet. Vivamus euismod lorem vel augue feugiat, vel vestibulum orci dignissim. Nulla tincidunt dictum lacus, vel sodales erat semper vitae. Ut sed condimentum mi, at ullamcorper nunc. Fusce nec sapien sit amet ipsum fringilla tristique non eu tortor. Nunc feugiat erat id placerat ornare.</p>
    <p class="text-gray-600 mb-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus, sem id suscipit ullamcorper, massa augue auctor metus, sed dapibus neque diam ac neque. Nam eget velit in lectus egestas aliquet. Vivamus euismod lorem vel augue feugiat, vel vestibulum orci dignissim. Nulla tincidunt dictum lacus, vel sodales erat semper vitae. Ut sed condimentum mi, at ullamcorper nunc. Fusce nec sapien sit amet ipsum fringilla tristique non eu tortor. Nunc feugiat erat id placerat ornare.</p>
    <p class="text-gray-600 mb-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus, sem id suscipit ullamcorper, massa augue auctor metus, sed dapibus neque diam ac neque. Nam eget velit in lectus egestas aliquet. Vivamus euismod lorem vel augue feugiat, vel vestibulum orci dignissim. Nulla tincidunt dictum lacus, vel sodales erat semper vitae. Ut sed condimentum mi, at ullamcorper nunc. Fusce nec sapien sit amet ipsum fringilla tristique non eu tortor. Nunc feugiat erat id placerat ornare.</p>
    <p class="text-gray-600 mb-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus, sem id suscipit ullamcorper, massa augue auctor metus, sed dapibus neque diam ac neque. Nam eget velit in lectus egestas aliquet. Vivamus euismod lorem vel augue feugiat, vel vestibulum orci dignissim. Nulla tincidunt dictum lacus, vel sodales erat semper vitae. Ut sed condimentum mi, at ullamcorper nunc. Fusce nec sapien sit amet ipsum fringilla tristique non eu tortor. Nunc feugiat erat id placerat ornare.</p>
    <p class="text-gray-600 mb-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus, sem id suscipit ullamcorper, massa augue auctor metus, sed dapibus neque diam ac neque. Nam eget velit in lectus egestas aliquet. Vivamus euismod lorem vel augue feugiat, vel vestibulum orci dignissim. Nulla tincidunt dictum lacus, vel sodales erat semper vitae. Ut sed condimentum mi, at ullamcorper nunc. Fusce nec sapien sit amet ipsum fringilla tristique non eu tortor. Nunc feugiat erat id placerat ornare.</p>
  </section>

</main>
{% include 'components/sponsors.njk' %}
{% include 'components/tweets.njk' %}