---
layout: default
meta_title: About
body_class: about
title: About
---
<section class="relative py-24 pt-40 bg-black bg-cover bg-center" style="background-image: url({{site.about.hero}});">
    <div class="bg-blue-800 h-full w-full absolute top-0 left-0 opacity-25"></div>
    <div class="relative px-8 container mx-auto items-center">
        <i class="inline-block font-mono text-blue-200 mb-4 lowercase">&#60; about &#47;&#62;</i>
        <h1 class="hero-title">PHP UK Livestream</h1>
    </div>
</section>
<main class="main px-8 py-12 md:py-24">
    <section class="markdown container px-8 mx-auto">
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
        <video id="video"></video>
        <script>
            if(Hls.isSupported()) {
                var video = document.getElementById('video');
                var hls = new Hls();
                hls.loadSource('https://d5d46671c7f3f825.mediapackage.eu-west-2.amazonaws.com/out/v1/1b6b4b30c37b4d6fbe6ceb8c8bc49d13/stage.m3u8');
                hls.attachMedia(video);
                hls.on(Hls.Events.MANIFEST_PARSED,function() {
                    video.play();
                });
            }
                // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
                // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element throught the `src` property.
            // This is using the built-in support of the plain video element, without using hls.js.
            else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                video.src = 'https://d5d46671c7f3f825.mediapackage.eu-west-2.amazonaws.com/out/v1/1b6b4b30c37b4d6fbe6ceb8c8bc49d13/stage.m3u8';
                video.addEventListener('canplay',function() {
                    video.play();
                });
            }
        </script>
        <!-- Queen Charlotte https://3fed4eda01633872.mediapackage.eu-west-2.amazonaws.com/out/v1/4c2034056a014269ae6839f0e79684ac/stage.m3u8 ->
        <!-- King Vault https://3fed4eda01633872.mediapackage.eu-west-2.amazonaws.com/out/v1/589f23805d0f475a8bab279e776f2b87/stage.m3u8 ->
    </section>
</main>