---
layout: default
meta_title: Photo archive
meta_description: PHP UK Photos from previous events
body_class: photos
title: Photo archive
---
<main class="py-24 pt-40 bg-black">
  <div class="px-8 container mx-auto items-center">
    <i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; photo_archive &#47;&#62;</i>
    <h2 class="text-4xl capitalize text-white">View photos from previous conferences</h2>
  </div>
</main>
<main class="py-24 container px-8 mx-auto h-full bg-white">
  <div class="gallery">
    {% for photo in collections.photos %}
      {% if loop.index0 < 12 %}
        <figure class="gallery-item"><img class="overflow-hidden rounded-lg" src="/{{photo}}"></figure>
      {% endif %}
    {% endfor %}
  </div>
  {# <div class='embedsocial-album' data-ref="ce51a3ba1dec26d64dd4b147db3e02e98411b32d"></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/ei.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialScript"));</script> #}
</main>