---
layout: default
meta_title: Schedule
body_class: schedule
title: Schedule
---
<section class="relative py-24 pt-40 bg-black bg-cover bg-center" style="background-image: url({{site.schedule.hero}});">
  <div class="bg-blue-800 h-full w-full absolute top-0 left-0 opacity-25"></div>
  <div class="relative px-8 container mx-auto items-center">
    <i class="inline-block font-mono text-blue-500 mb-4 lowercase">&#60; conference_schedule &#47;&#62;</i>
    <h1 class="hero-title">{{site.schedule.title}}</h1>
    <p class="text font-mono text-gray-200 max-w-3xl">{{site.schedule.description}}</p>
  </div>
</section>
{% include 'components/sponsors.njk' %}