---
layout: default
meta_title: Socials
body_class: socials
title: Socials
---
<section class="relative py-24 pt-40 bg-black bg-cover bg-center" style="background-image: url({{site.socials.hero}});">
  <div class="bg-blue-800 h-full w-full absolute top-0 left-0 opacity-25"></div>
  <div class="relative px-8 container mx-auto items-center">
    <i class="inline-block font-mono text-blue-200 mb-4 lowercase">&#60; Socials &#47;&#62;</i>
    <h2 class="text-5xl mb-1 capitalize text-white">{{site.socials.title}}</h2>
    <p class="text font-mono text-gray-200 max-w-3xl">{{site.socials.description}}</p>
  </div>
</section>
<main class="main container mx-auto px-8 py-24">
  <section class="markdown">
    <p>We will be putting on two social events - before and during the conference. We'll have more info on the socials coming soon.</p>
  </section>
</main>
{% include 'components/sponsors.njk' %}