---
layout: default
meta_title: Socials
body_class: socials
title: Socials
---
<section class="relative py-24 pt-40 bg-black bg-cover bg-center" style="background-image: url({{site.socials.hero}});">
  <div class="bg-blue-800 h-full w-full absolute top-0 left-0 opacity-25"></div>
  <div class="relative px-8 container mx-auto items-center">
    <i class="inline-block font-mono text-blue-200 mb-4 lowercase">&#60; Socials &#47;&#62;</i>
    <h1 class="hero-title">{{site.socials.title}}</h1>
    <p class="text font-mono text-gray-200 max-w-3xl">{{site.socials.description}}</p>
  </div>
</section>
<main class="main container mx-auto px-8 py-24">
  <section class="markdown">
    <div class="page-title socials">
        <div class="wrapper">
            <h2>Socials</h2>
            <h3>The pre, mid, and post-conference social events</h3>
        </div>
    </div>
    <div class="row">
        <div class="wrapper">
            <p>An important part of any conference is being able to network with other delegates and PHP UK is no exception. We will be putting on two social events - before and during the conference.</p>
            <div class="col-third">
                <h2>Wednesday</h2>
                <h3>February 19<sup>th</sup></h3>
                <br>
                <p>Wednesday night kicks off the conference with a night at the pub. We'll be meeting at Finch's pub on Finsbury Square (City Road) from 6pm til close for drinks, snacks, and a chance to meet other delegates before the conference starts.</p>
                <p>At 7pm <a target="_blank" href="/speakers/#chrisriley">Chris Riley</a> will be presenting his talk, <i>Object Reorientation</i>, and drinks and chat will then continue after the presentation. Here's what Chris has to say about the talk:</p>
                <p><i>We are all SOLID developers who like to keep DRY, these are rules we stick to to try keep our code clean. Despite this, we often end up writing procedural code wrapped up inside objects. This code can be hard for our colleagues and collaborators to get to grips with and understand.</i></p> 
                <p><i>Join me for this object reorientation as we take a look at how we can leverage the power of object oriented design to write code which is not just SOLID, but easy to reason about and easy for others to understand.</i></p>
                    <p>The pre-conference social is open to anyone with an interest in PHP.<br /><br />
                    Agenda:<br />
                    6pm - Drinks, snacks and chat<br />
                    7pm - Talk by Chris Riley<br />
                    8pm - More drinks and chat<br /><br />
                  </p>
                <p>
                  <a href="http://www.finchspub.co.uk/">Finch's Pub</a><br />
                      Downstairs/cellar private bar<br />
                      12A Finsbury Square<br />
                      London EC2A 1AN<br />
                      020 7588 3311<br />
                      <a href="https://goo.gl/maps/Ruuqk">Google Map</a>
                  </p>
            </div>
            <div class="col-third">
                <h2>Thursday</h2>
                <h3>February 20<sup>th</sup></h3>
                <br>
                <p>Thursday evening we'll be hosting our main social event at the conference venue.</p>
                <p>After talks finish at the end of the day we'll move to the King George for drinks, snacks and chat from 5pm til 9pm.<br><br>We'll be serving some free drinks and beef burgers, veggie burgers, chips and nibbles.</p>
                <p>There will also be a few games to play - table football, table tennis, and air hockey. Also, if you're interested in a more low-key atmosphere we'll also be setting up some boardgames and tables in the Queen Charlotte room.</p> 
            </div>
            <div class="col-third">
                <h2>Friday</h2>
                <h3>February 21<sup>st</sup></h3>
                <br>
                <p>Friday night will be our post conference social at The Clerkenwell Club Bar at the Clerkenwell Grind where we'll be serving up drinks and food from 5pm-9pm. C'mon over right after the conference, or meet up later on, it's up to you!</p>
                <a target="_blank" href="https://grind.co.uk/pages/clerkenwell-grind">The Clerkenwell Club Bar</a><br />
                Downstairs/Lower ground floor<br />
                2-4 Old Street<br />
                London, EC1V 9AA<br />
                <a target="_blank" href="https://www.google.com/maps/place/Clerkenwell+Grind/@51.5233743,-0.0979624,15z/data=!4m5!3m4!1s0x0:0x46cbf1ab06e41e62!8m2!3d51.5233521!4d-0.0978975">Google Map</a>

            </div>
            <br /><br />
            <p>Please note: our <a href="/conduct/">Code of Conduct</a> applies to all venues associated with the conference, including off-site social events.</p>
        </div>
    </div>
  </section>
</main>
{% include 'components/sponsors.njk' %}