---
layout: default
meta_title: Speakers
body_class: speakers
title: Speakers
---
<section class="relative py-24 pt-40 bg-black bg-cover bg-center" style="background-image: url({{site.speakers.hero}});">
  <div class="bg-blue-800 h-full w-full absolute top-0 left-0 opacity-25"></div>
  <div class="relative px-8 container mx-auto items-center">
    <i class="inline-block font-mono text-blue-500 mb-4 lowercase">&#60; conference_speakers &#47;&#62;</i>
    <h2 class="text-4xl capitalize text-white">{{site.speakers.title}}</h2>
    <p class="text-sm font-mono text-gray-200 max-w-3xl">{{site.speakers.description}}</p>
  </div>
</section>
<main class="main {% if site.speakers.papers_open %} container {% endif %} mx-auto px-4 py-24">
  {% if site.speakers.papers_open %}
    <section class="markdown px-4">
      <h2>Our Call for Papers opens 4th September 2019, and closes 15th October 2019.</h2>
      <p>PHP UK Conference is focused on education and discussion of the PHP programming language. We aim to attract the best speakers, contributors, and educators from around the world in hopes of providing the community with the best resources on the PHP programming language every year.</p>
      <p>We are looking for speakers and instructors to give talks and hands-on classroom sessions. We are seeking talks covering mainstream, advanced, niche or non-technical topics aimed at a multitude of skill levels.</p>
      <h2>About</h2>
      <p>PHP UK seeks to deliver ‘wow’ talks that are fresh and inspiring about cutting edge topics or new perspectives on common problems. The audience will be from all backgrounds varying in skill level from beginner to intermediate to advanced, so talks varying widely in topic and skill levels are required. Most of all we want speakers who have a deep knowledge about the topics they are proposing and can’t wait to share that knowledge with a whole group of of eager listeners. Tell us what you’re most passionate about and why we should be passionate about it as well.</p>
      <h2>Talk Types</h2>
      <p>We are looking for 3 different types of talks for the event:</p>
      <h3>Workshops</h3>
      <ul>
        <li>Hand on technical training</li>
        <li>Classroom style</li>
        <li>Technical, in depth tutorial content on a specific topic</li>
        <li>Full day (8 hours, 6 hours actual training time)</li>
        <li>Not video recorded or distributed online</li>
      </ul>
      <h3>Keynotes</h3>
      <ul>
        <li>Opening and closing sessions each day of the conference</li>
        <li>Motivational, big ideas, inspirational, and community related topics</li>
        <li>Full conference audience</li>
        <li>30 minutes length</li>
        <li>No Q&amp;A</li>
        <li>4 keynote sessions will be selected</li>
      </ul>
      <h3>Talk Sessions</h3>
      <ul>
        <li>Breakout sessions throughout the conference</li>
        <li>Technical, educational, research, new technology, case studies</li>
        <li>Partial conference audience (split across 3 tracks)</li>
        <li>60 minutes length</li>
        <li>Q&amp;A at speaker’s discretion (within 45m limit)</li>
        <li>16 talk sessions will be selected</li>
        <li>Sessions will be recorded and made available online after the conference</li>
      </ul>
      <h3>Tutorials</h3>
      <ul>
        <li>Classroom style</li>
        <li>Technical, in depth tutorial content on a specific topic</li>
        <li>2 hours length</li>
        <li>Suggested 1 hour slide content, 1 hour hands-on exercises</li>
        <li>Partial conference audience (split across 3 tracks)</li>
        <li>Not video recorded or distributed online</li>
        <li>8 tutorial sessions will be selected</li>
      </ul>
      <p>Both keynotes and talk sessions are video recorded and distributed for free along with your slides on our YouTube channel.</p>
      <h2>Speakers</h2>
      <p>We believe diversity of speakers and topics makes our event better. We welcome speakers of all programming languages, experience levels and backgrounds. We welcome speakers of any gender, sexual orientation, disability, physical appearance, race, or religion. We welcome new speakers and experienced speakers alike.</p>
      <h2>Speaker's Package</h2>
      <p>We are very pleased to be able to offer the following benefits package to all our speakers:</p>
      <ul>
        <li>Entry to the conference and all the social events</li>
        <li>Travel expenses paid in full</li>
        <li>Three nights hotel so you can attend the whole conference</li>
        <li>Invitation to the speaker’s dinner</li>
      </ul>
    </section>
    <div class="bg-black p-10 rounded-sm my-8">
      <div class="flex items-center">
        <div class="max-w-2xl">
          <i class="inline-block font-mono text-blue-500 mb-4 lowercase">&#60; sumbit_a_paper &#47;&#62;</i>
          <h3 class="text-3xl text-white mb-0 mt-4">If you'd like to submit a paper for consideration to speak at the conference, learn more and submit your details here.</h3>
        </div>
        <div class="text-right flex-grow">
          <a class="inline-block text-sm uppercase tracking-widest rounded-full py-3 px-6 text-white font-semibold bg-blue-600 hover:bg-white hover:text-blue-600" href="https://www.papercall.io/phpuk2020" target="_blank">Submit here</a>
        </div>
      </div>
    </div>
  {% else %}
    <div class="flex flex-wrap justify-center">
      {% for speaker in speakers %}
        <div class="speaker-column px-4 mb-8">
          <article class="speaker relative bg-purple-900 rounded-lg overflow-hidden">
            <div class="speaker-photo absolute top-0 left-0 bg-cover bg-center w-full h-full" style="background-image: url({{speaker.photo}});"></div>
            <div class="speaker-gradient absolute bg-blue-400 top-0 left-0 w-full h-full opacity-75"></div>
            <div class="relative p-8">
              <i class="inline-block font-mono text-blue-400 mb-2">&#60; {{speaker.company}} &#47;&#62;</i>
              <h2 class="text-white text-3xl m-0">{{speaker.name}}</h2>
              <p class="speaker-bio text-gray-200 font-mono text-sm mt-4">{{speaker.bio | safe}}</p>
            </div>
            <aside class="absolute bottom-4 left-4">
              {% if speaker.twitter %}
                <a class="inline-block ml-4 w-8 text-white hover:text-blue-500 w-6" href="{{speaker.twitter}}" target="_blank">
                  {% include 'components/icons/twitter.html' %}
                </a>
              {% endif %}
              {% if speaker.linkedin %}
                <a class="inline-block ml-4 w-8 text-white hover:text-blue-500 w-6" href="{{speaker.linkedin}}" target="_blank">
                  {% include 'components/icons/linkedin.html' %}
                </a>
              {% endif %}
              {% if speaker.github %}
                <a class="inline-block ml-4 w-8 text-white hover:text-blue-500 w-6" href="{{speaker.github}}" target="_blank">
                  {% include 'components/icons/github.html' %}
                </a>
              {% endif %}
            </aside>
          </article>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</main>
{% include 'components/sponsors.njk' %}