---
layout: default
meta_title: Sponsors
body_class: sponsors
title: Sponsors
---
<section class="relative py-24 pt-40 bg-black bg-cover bg-center" style="background-image: url({{site.sponsors.hero}});">
  <div class="bg-blue-800 h-full w-full absolute top-0 left-0 opacity-50"></div>
  <div class="relative px-8 container mx-auto items-center">
    <i class="inline-block font-mono text-blue-500 mb-4 lowercase">&#60; conference_sponsors &#47;&#62;</i>
    <h2 class="text-4xl capitalize text-white">{{site.sponsors.title}}</h2>
    <p class="text-sm font-mono text-gray-200 max-w-3xl">{{site.sponsors.description}}</p>
  </div>
</section>
<section class="px-8 pt-24 pb-12 container mx-auto h-full bg-white">
  <div class="bg-black p-10 rounded-sm my-8">
    <div class="">
      <div class="max-w-4xl">
        <i class="inline-block font-mono text-blue-500 mb-4 lowercase">&#60; Sponsoring_PHP_UK &#47;&#62;</i>
        <h3 class="text-3xl text-white mb-0 mt-4">The PHP UK Conference relies heavily on sponsorship to run the event at rates affordable to the whole community. If you're interested in sponsoring our event, please contact us.</h3>
      </div>
      <div class="mt-8 flex items-center">
        <a class="inline-block text-sm uppercase tracking-widest rounded-full py-3 px-6 text-white font-semibold bg-blue-600 border-2 border-blue-600 hover:bg-white hover:border-white hover:text-blue-600 mr-4" href="mailto:contact@phpconference.co.uk">Contact Us</a>
        <a class="inline-block text-sm uppercase tracking-widest rounded-full py-3 px-6 text-white font-semibold border-2 border-white hover:bg-white hover:text-blue-600 mr-4" href="mailto:contact@phpconference.co.uk">view packages</a>
        <a class="inline-block text-sm uppercase tracking-widest rounded-full text-white font-semibold hover:text-blue-600" href="/sponsors/2019" target="_blank">view last year sponsors</a>
      </div>
    </div>
  </div>
</section>
{% include 'components/sponsors-minimal.njk' %}