---
layout: default
meta_title: Sponsors
body_class: sponsors
title: Sponsors
---
<section class="hero-internal relative py-24 pt-40 bg-black bg-cover bg-center" style="background-image: url({{site.sponsors.hero}});">
  <div class="bg-blue-800 h-full w-full absolute top-0 left-0 opacity-50"></div>
  <div class="relative px-8 container mx-auto items-center">
    <i class="inline-block font-mono text-blue-500 mb-4 lowercase">&#60; conference_sponsors &#47;&#62;</i>
    <h1 class="hero-title">{{site.sponsors.title}}</h1>
    <p class="text font-mono text-gray-200 max-w-3xl">{{site.sponsors.description}}</p>
  </div>
</section>
{% include 'components/sponsors-detailed.njk' %}
<section class="px-8 pb-12 container mx-auto h-full bg-white">
  {% include 'components/sponsors-cta.njk' %}
</section>