---
layout: default
meta_title: Sponsorship Packages
body_class: sponsors
title: Sponsors
---
<section class="relative py-24 pt-40 bg-black bg-cover bg-center" style="background-image: url({{site.sponsors.hero}});">
  <div class="bg-blue-800 h-full w-full absolute top-0 left-0 opacity-50"></div>
  <div class="relative px-8 container mx-auto items-center">
    <i class="inline-block font-mono text-blue-500 mb-4 lowercase">&#60; conference_sponsors &#47;&#62;</i>
    <h2 class="text-4xl capitalize text-white">Sponsorship Opportunities</h2>
    <p class="text-sm font-mono text-gray-200 max-w-3xl">{{site.sponsors.description}}</p>
  </div>
</section>
<section class="px-8 py-24 pb-12 container mx-auto h-full bg-white">
    <i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; promote your brand &#47;&#62;</i>
    <h2 class="text-3xl md:w-full">Become a sponsor</h2>
    <div class="flex mb-24">
		<div class="md:w-1/2">
            <p class="text-gray-600 text-xl mb-4 mr-20">
            Sponsor the PHP UK Conference and put your brand in front of hundreds of leading senior developers and CTOs. With packages to suit all budgets, raise your profile by taking advantage of sponsorship opportunities at Europe's largest PHP developer conference.</p>
		</div>
		<div class="md:w-1/2">
            <ul class="text-gray-600 text-l mb-4 list-disc">
                <li>Grow your brand by increasing visibility among top talent in tech and business</li>
                <li>Establish your organisation as a leader at the forefront of the PHP industry</li>
                <li>Network with CxOs, data scientists, business managers, innovation leaders, and others</li>
                <li>Position your organization in the big picture narrative about the data industry</li>
                <li>Showcase your innovations and products to active buyers and influencers</li>
            </ul>
        </div>
	</div>
</section>
<section class="px-8 py-24 bg-gray-100">
  <div class="container mx-auto px-8">
    <i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; our_packages &#47;&#62;</i>
    <section class="markdown">
      <p>We have an exciting range of sponsorship opportunities available or we can create tailored sponsorship packages to suit your brand requirements. All our the PHP UK sponsorship opportunities are designed to to make sure you stand out from the crowd and get great engagement from delegates at the event.</p>
    </section>
    <div class="flex flex-col lg:flex-row justify-center mb-6 lg:mb-0">
      <div class="lg:flex-1 lg:flex-initial lg:w-1/4 bg-white mt-4 flex flex-col relative overflow-hidden">
        <div class="absolute top-0 right-0 bg-blue-200 text-xl text-white whitespace-no-wrap px-12 -mt-6 -mr-16 rotate-1/8">1 Left</div>
        <div class="p-8 text-3xl font-bold text-center">Track</div>
        <div class="border-0 border-grey-200 border-t border-solid text-sm">
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile on the conference website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on every page of the website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile in the conference programme
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Opportunity to include materials in delegate welcome packs
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Medium</strong> exhibition stand (3M x 3M)
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Three</strong> conference tickets
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">One</strong> page advert in the conference programme
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on screen in side track
          </div>
          <div class="text-center text-gray-700 p-4">
            <strong class="text-blue-500">Two</strong> tweets promoting the sponsor’s involvement
          </div>
        </div>
      </div>
      <div class="lg:flex-1 lg:flex-initial lg:w-1/4 bg-white mt-4 flex flex-col shadow-lg z-10 relative overflow-hidden">
        <div class="absolute top-0 right-0 bg-red-800 text-xl text-white whitespace-no-wrap px-12 -mt-6 -mr-16 rotate-1/8">Sold!</div>
        <div class="p-8 text-3xl font-bold text-center">Platinum</div>
        <div class="border-0 border-grey-200 border-t border-solid text-sm">
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile on the conference website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on every page of the website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile in the conference programme
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Opportunity to include materials in delegate welcome packs
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Large</strong> exhibition stand (4M x 4M)
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Five</strong> conference tickets
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Two</strong> page advert in the conference programme
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on screen in main track
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Three</strong> tweets promoting the sponsor’s involvement
          </div>
          <div class="text-center text-gray-700 p-4">
            Logo on directional signage throughout the venue
          </div>
        </div>
      </div>
      <div class="lg:flex-1 lg:flex-initial lg:w-1/4 bg-white mt-4 flex flex-col">
        <div class="p-8 text-3xl font-bold text-center">Gold</div>
        <div class="border-0 border-grey-200 border-t border-solid text-sm">
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile on the conference website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on every page of the website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile in the conference programme
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Opportunity to include materials in delegate welcome packs
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Standard</strong> exhibition stand (2M x 2M)
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Two</strong> conference tickets
          </div>
          <div class="text-center text-gray-700 p-4">
            A tweet promoting the sponsor’s involvement
          </div>
        </div>
      </div>
      <div class="lg:flex-1 lg:flex-initial lg:w-1/4 bg-white mt-4 flex flex-col">
        <div class="p-8 text-3xl font-bold text-center">Silver</div>
        <div class="border-0 border-grey-200 border-t border-solid text-sm">
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile on the conference website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on every page of the website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile in the conference programme
          </div>
          <div class="text-center text-gray-700 p-4">
            Opportunity to include materials in delegate welcome packs
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 text-center"><a class="inline-block text-sm uppercase tracking-widest rounded-full py-3 px-6 text-white font-semibold bg-blue-600 hover:bg-white hover:text-blue-600" href="mailto:contact@phpconference.co.uk" target="_blank" rel="noopener">Contact Us</a></div>
  </div>
</section>
{% include 'components/sponsors-testimonials.njk' %}
{% include 'components/sponsors.njk' %}