---
layout: default
meta_title: Sponsorship Packages
body_class: sponsors
title: Sponsors
---
<section class="relative py-24 pt-40 bg-black bg-cover bg-center" style="background-image: url({{site.sponsors.hero}});">
  <div class="bg-blue-800 h-full w-full absolute top-0 left-0 opacity-50"></div>
  <div class="relative px-8 container mx-auto items-center">
    <i class="inline-block font-mono text-blue-500 mb-4 lowercase">&#60; conference_sponsors &#47;&#62;</i>
    <h1 class="hero-title">Sponsorship Opportunities</h1>
    <p class="text font-mono text-gray-200 max-w-3xl">{{site.sponsors.description}}</p>
  </div>
</section>
<section class="px-8 py-24 pb-12 marked container mx-auto h-full bg-white">
    <i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; promote your brand &#47;&#62;</i>
    <h2 class="text-3xl md:w-full">Become a sponsor</h2>
    <div class="md:flex">
		<div class="md:w-1/2">
            <p class="text-gray-600 text-xl mb-4 mr-20">
            Sponsor the PHP UK Conference and put your brand in front of hundreds of leading senior developers and CTOs. With packages to suit all budgets, raise your profile by taking advantage of sponsorship opportunities at Europe's largest PHP developer conference.</p>
		</div>
		<div class="markdown md:w-1/2">
            <ul class="text-l mb-4">
                <li>Establish your organisation as a leader at the forefront of the PHP industry</li>
                <li>Grow your brand with increased visibility among top tech talent</li>
                <li>Showcase your brand, products or platform to active buyers and influencers</li>
                <li>Network with leading developers, development managers, data scientists, CTOs and more</li>
            </ul>
        </div>
	</div>
</section>

<section class="w-full py-24 bg-blue-300">
  <div class="marked container lg:mx-auto px-8">
    <h3 class="text-3xl md:w-full text-center">Request a sponsor pack</h3>
    <p class="text-center text-white mb-6">Enter a few details and one of our team will get back to you straight away with details about how you can get involved with sponsoring PHP UK.</p>
    <META HTTP-EQUIV="content-type" CONTENT="text/html;charset=UTF-8">
    <form
            class="longform lg:flex lg:flex-row"
            action="https://crm.zoho.eu/crm/WebToLeadForm"
            name=WebToLeads198118000000213047
            method="POST" onSubmit="javascript:document.charset='UTF-8'; return checkMandatory198118000000213047()" accept-charset="UTF-8">
      <input type="text" style="display:none;" name="xnQsjsdp" value="a8d89f507817013112d869150786a706b8bee7cecfbb201d2ee74aba79f52693"/>
      <input type="hidden" name="zc_gad" id="zc_gad" value=""/>
      <input type="text" style="display:none;" name="xmIwtLD" value="85ff313a63ac30c2afa525919265ddcec9583ab8af2d7b78fe13315c2d0ce5d6"/>
      <input type="text"  style="display:none;" name="actionType" value="TGVhZHM="/>
      <input type="text" style="display:none;" name="returnURL" value="https://www.phpconference.co.uk/sponsors/thankyou"/>

      <fieldset class="w-full lg:w-1/2 lg:pr-2">
        <label>First Name<span style="color:red;">*</span></label>
        <input type="text" maxlength="40" name="First Name" placeholder="First name*" class="w-full p-2 md:p-4 mb-2 flex-grow text-black outline-none focus:bg-gray-100"/>
        <label>Last Name<span style="color:red;">*</span></label>
        <input type="text" maxlength="80" name="Last Name" placeholder="Last name*" class="w-full p-2 md:p-4 mb-2 flex-grow text-black outline-none focus:bg-gray-100" />
        <label>Company<span style="color:red;">*</span></label>
        <input type="text" maxlength="100" name="Company" placeholder="Company*" class="w-full p-2 md:p-4 mb-2 flex-grow text-black outline-none focus:bg-gray-100" />
      </fieldset>

      <fieldset class="w-full lg:w-1/2 lg:pl-2">
        <label>Email<span style="color:red;">*</span></label>
        <input type="text" maxlength="100" name="Email" placeholder="Email address*" class="w-full p-2 md:p-4 mb-2 flex-grow text-black outline-none focus:bg-gray-100" />
        <label>Job title &#x28;optional&#x29;</label>
        <input type="text" maxlength="100" name="Designation" placeholder="Job title" class="w-full p-2 md:p-4 mb-2 flex-grow text-black outline-none focus:bg-gray-100" />
        <label>Phone &#x28;optional&#x29;</label>
        <input type="text" maxlength="30" name="Phone" placeholder="Phone number" class="w-full p-2 md:p-4 mb-2 flex-grow text-black outline-none focus:bg-gray-100" />
        <input id="formsubmit" type="submit" value="Submit" class="float-right text-xs lg:text-sm uppercase tracking-widest py-2 lg:py-3 px-3 lg:pr-6 lg:pl-4 mt-4 text-white font-semibold bg-blue-600 hover:bg-white hover:text-blue-600"/>
      </fieldset>

    <script>
        var mndFileds=new Array('Company','First Name','Last Name','Email');
        var fldLangVal=new Array('Company','First Name','Last Name','Email');
        var name='';
        var email='';

        function checkMandatory198118000000213047() {
            for(i=0;i<mndFileds.length;i++) {
                var fieldObj=document.forms['WebToLeads198118000000213047'][mndFileds[i]];
                if(fieldObj) {
                    if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
                        if(fieldObj.type =='file')
                        {
                            alert('Please select a file to upload.');
                            fieldObj.focus();
                            return false;
                        }
                        alert(fldLangVal[i] +' cannot be empty');
                        fieldObj.focus();
                        return false;
                    }  else if(fieldObj.nodeName=='SELECT') {
                        if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
                            alert(fldLangVal[i] +' cannot be none');
                            fieldObj.focus();
                            return false;
                        }
                    } else if(fieldObj.type =='checkbox'){
                        if(fieldObj.checked == false){
                            alert('Please accept  '+fldLangVal[i]);
                            fieldObj.focus();
                            return false;
                        }
                    }
                    try {
                        if(fieldObj.name == 'Last Name') {
                            name = fieldObj.value;
                        }
                    } catch (e) {}
                }
            }
            document.getElementById('formsubmit').disabled=true;
        }
    </script>
  </form>
  </div>
</section>

{% include 'components/sponsors-testimonials.njk' %}

<section class="px-8 py-24 bg-gray-100">
  <div class="container mx-auto px-8">
    <i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; our_packages &#47;&#62;</i>
    <section class="markdown">
      <p>We have an exciting range of sponsorship opportunities available or we can create tailored sponsorship packages to suit your brand requirements. All our the PHP UK sponsorship opportunities are designed to to make sure you stand out from the crowd and get great engagement from delegates at the event.</p>
    </section>
    <div class="flex flex-col lg:flex-row justify-center mb-6 lg:mb-0">
      <div class="lg:flex-1 lg:flex-initial lg:w-1/4 bg-white mt-4 flex flex-col shadow-lg z-10 relative overflow-hidden">
        <div class="absolute top-0 right-0 bg-blue-200 text-xl text-white whitespace-no-wrap px-12 -mt-6 -mr-16 rotate-1/8"></div>
        <div class="p-8 text-3xl font-bold text-center">Platinum</div>
        <div class="border-0 border-grey-200 border-t border-solid text-sm">
           <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
             Sponsor profile on the conference website
           </div>
           <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
             Logo displayed on every page of the website
           </div>
           <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
             Sponsor profile in the conference programme
           </div>
           <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
             Opportunity to include materials in delegate welcome packs
           </div>
           <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
             <strong class="text-blue-500">Large</strong> exhibition stand (4M x 4M)
           </div>
           <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
             <strong class="text-blue-500">Five</strong> conference tickets
           </div>
           <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Two</strong> page advert in the conference programme
           </div>
           <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
             Logo displayed on screen in main track
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Three</strong> tweets promoting the sponsor’s involvement
          </div>
          <div class="text-center text-gray-700 p-4">
             Logo on directional signage throughout the venue
          </div>
        </div>
      </div>
      <div class="lg:flex-1 lg:flex-initial lg:w-1/4 bg-white mt-4 flex flex-col">
        <div class="p-8 text-3xl font-bold text-center">Track</div>
        <div class="border-0 border-grey-200 border-t border-solid text-sm">
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile on the conference website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on every page of the website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile in the conference programme
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Opportunity to include materials in delegate welcome packs
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Medium</strong> exhibition stand (3M x 3M)
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Three</strong> conference tickets
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">One</strong> page advert in the conference programme
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on screen in side track
          </div>
          <div class="text-center text-gray-700 p-4">
            <strong class="text-blue-500">Two</strong> tweets promoting the sponsor’s involvement
          </div>
        </div>
      </div>
      <div class="lg:flex-1 lg:flex-initial lg:w-1/4 bg-white mt-4 flex flex-col">
        <div class="p-8 text-3xl font-bold text-center">Gold</div>
        <div class="border-0 border-grey-200 border-t border-solid text-sm">
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile on the conference website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on every page of the website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile in the conference programme
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Opportunity to include materials in delegate welcome packs
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Standard</strong> exhibition stand (2M x 2M)
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Two</strong> conference tickets
          </div>
          <div class="text-center text-gray-700 p-4">
            A tweet promoting the sponsor’s involvement
          </div>
        </div>
      </div>
      <div class="lg:flex-1 lg:flex-initial lg:w-1/4 bg-white mt-4 flex flex-col">
        <div class="p-8 text-3xl font-bold text-center">Silver</div>
        <div class="border-0 border-grey-200 border-t border-solid text-sm">
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile on the conference website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on every page of the website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile in the conference programme
          </div>
          <div class="text-center text-gray-700 p-4">
            Opportunity to include materials in delegate welcome packs
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 text-center"><a class="inline-block text-sm uppercase tracking-widest rounded-full py-3 px-6 text-white font-semibold bg-blue-600 hover:bg-white hover:text-blue-600" href="mailto:contact@phpconference.co.uk" target="_blank" rel="noopener">Contact Us</a></div>
  </div>
</section>
{% include 'components/sponsors.njk' %}