---
layout: default
meta_title: Sponsors
body_class: sponsors
title: Sponsors
---
<section class="relative py-24 pt-40 bg-black bg-cover bg-center" style="background-image: url({{site.sponsors.hero}});">
  <div class="bg-blue-800 h-full w-full absolute top-0 left-0 opacity-50"></div>
  <div class="relative px-8 container mx-auto items-center">
    <i class="inline-block font-mono text-blue-500 mb-4 lowercase">&#60; conference_sponsors &#47;&#62;</i>
    <h2 class="text-4xl capitalize text-white">Sponsorship Opportunities</h2>
    <p class="text-sm font-mono text-gray-200 max-w-3xl">{{site.sponsors.description}}</p>
  </div>
</section>
<section class="px-8 py-24 pb-12 container mx-auto h-full bg-white">
  <div class="flex items-center mb-24">
		<div class="md:w-1/2">
			<i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; Why &#47;&#62;</i>
			<h2 class="text-3xl">WHY SPONSOR?</h2>
      <p class="text-gray-600 text-xl mb-4">The PHP UK Conference relies heavily on sponsorship to run the event at rates affordable to the whole community. If you're interested in sponsoring our event, please contact us.</p>
		</div>
	</div>
</section>
<section class="px-8 py-24 bg-gray-100">
  <div class="container mx-auto px-8">
    <i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; our_packages &#47;&#62;</i>
    <div class="flex flex-col lg:flex-row justify-center mb-6 lg:mb-0">
      <div class="lg:flex-1 lg:flex-initial lg:w-1/4 bg-white mt-4 flex flex-col">
        <div class="p-8 text-3xl font-bold text-center">Track</div>
        <div class="border-0 border-grey-200 border-t border-solid text-sm">
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile on the conference website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on every page of the website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile in the conference programme
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Opportunity to include materials in delegate welcome packs
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Medium</strong> exhibition stand (3M x 3M)
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Three</strong> conference tickets
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">One</strong> page advert in the conference programme
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on screen in side track
          </div>
          <div class="text-center text-gray-700 p-4">
            <strong class="text-blue-500">Two</strong> tweets promoting the sponsor’s involvement
          </div>
        </div>
      </div>
      <div class="lg:flex-1 lg:flex-initial lg:w-1/4 bg-white mt-4 flex flex-col shadow-lg z-10 relative">
        <div class="p-8 text-3xl font-bold text-center">Platinum</div>
        <div class="border-0 border-grey-200 border-t border-solid text-sm">
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile on the conference website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on every page of the website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile in the conference programme
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Opportunity to include materials in delegate welcome packs
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Large</strong> exhibition stand (4M x 4M)
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Five</strong> conference tickets
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Two</strong> page advert in the conference programme
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on screen in main track
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Three</strong> tweets promoting the sponsor’s involvement
          </div>
          <div class="text-center text-gray-700 p-4">
            Logo on directional signage throughout the venue
          </div>
        </div>
      </div>
      <div class="lg:flex-1 lg:flex-initial lg:w-1/4 bg-white mt-4 flex flex-col">
        <div class="p-8 text-3xl font-bold text-center">Gold</div>
        <div class="border-0 border-grey-200 border-t border-solid text-sm">
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile on the conference website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on every page of the website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile in the conference programme
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Opportunity to include materials in delegate welcome packs
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Standard</strong> exhibition stand (2M x 2M)
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            <strong class="text-blue-500">Two</strong> conference tickets
          </div>
          <div class="text-center text-gray-700 p-4">
            A tweet promoting the sponsor’s involvement
          </div>
        </div>
      </div>
      <div class="lg:flex-1 lg:flex-initial lg:w-1/4 bg-white mt-4 flex flex-col">
        <div class="p-8 text-3xl font-bold text-center">Silver</div>
        <div class="border-0 border-grey-200 border-t border-solid text-sm">
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile on the conference website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Logo displayed on every page of the website
          </div>
          <div class="text-center text-gray-700 border-0 border-grey-200 border-b border-solid p-4">
            Sponsor profile in the conference programme
          </div>
          <div class="text-center text-gray-700 p-4">
            Opportunity to include materials in delegate welcome packs
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 text-center"><a class="inline-block text-sm uppercase tracking-widest rounded-full py-3 px-6 text-white font-semibold bg-blue-600 hover:bg-white hover:text-blue-600" href="mailto:contact@phpconference.co.uk" target="_blank" rel="noopener">Contact Us</a></div>
  </div>
</section>
<section class="px-8 pt-24 pb-12 container mx-auto h-full bg-white">
  {% include 'components/sponsors-testimonials.njk' %}
  {% include 'components/sponsors-cta.njk' %}
</section>
{% include 'components/sponsors-detailed.njk' %}