---
layout: default
hidden: true
meta_title: Thank you
meta_description: Thank you for signing up to the newsletter
body_class: thanks
title: Thank you
gif_url: https://media.giphy.com/media/26u4cqiYI30juCOGY/giphy-downsized.gif
---

<main class="main bg-black px-8 py-40 text-white text-center h-screen flex items-center">
    <section class="flex-1">
        <div class="inline-block rounded-full w-56 h-56 bg-white bg-cover bg-center" style="background-image: url({{gif_url}});"></div>
        <div>
            <i class="inline-block font-mono text-green-400 my-4 uppercase text-4xl">&#60; {{title}} &#47;&#62;</i>
            <p class="text-gray-600 mb-8">Thanks for your interest. One of our team will be in contact with you as soon as we can.</p>
            <a class="inline-block text-sm uppercase tracking-widest rounded-full py-3 px-6 text-white font-semibold bg-blue-600 hover:bg-white hover:text-blue-600" href="/">Go Home</a>
        </div>
    </section>
</main>