---
layout: default
---
<section class="py-24 pt-40 bg-black">
  <div class="px-8 container mx-auto items-center">
    <i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; Archive &#47;&#62;</i>
    <h2 class="text-4xl capitalize text-white">{{title}}</h2>
  </div>
</section>
<main class="py-24 container px-8 mx-auto h-full bg-white">
  <div class="markdown">
    {# include content #}
    {{ content | safe }}
  </div>
</main>
<section class="py-24 bg-white border-t border-gray-200">
	<div class="px-8 container mx-auto">
		<div class="flex flex-col lg:flex-row">
			<div class="lg:pr-16 lg:w-1/3">
				<i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; sponsored_by &#47;&#62;</i>
				<h2 class="text-3xl md:text-4xl">Partners <br>&amp; Sponsors from {{title}}</h2>
			</div>
			<div class="lg:w-2/3">
        {% for type in sponsors %}
          <div class="mb-8">
            <h4 class="text-2xl uppercase">{{type.name}}</h4>
            <div class="markdown">
              <ul>
                {% for sponsor in type.sponsorlist %}
                  <li>
                    <a href="{{sponsor.url | safe}}" target="_blank">
                      {# <img class="h-16" src="{{sponsor.logo.url}}" alt="{{sponsor.logo.alt}}"/> #}
                      <span class="text-xl">{{sponsor.name}}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
			</div>
		</div>
	</div>
</section>
<div class="bg-gray-100">
  <section class="py-24 container px-4 mx-auto">
    <div class="px-4">
      <i class="inline-block font-mono text-blue-400 mb-4 lowercase">&lt; speakers_archive /&gt;</i>
      <h2 class="text-4xl capitalize">Speakers from {{title}}</h2>
    </div>
    <div class="flex flex-wrap justify-center w-full ">
      {% for speaker in speakers %}
        <div class="speaker-column flex-1-0 px-4 mb-8">
          <article class="speaker relative bg-purple-900 rounded-lg overflow-hidden pb-20 md:pb-0">
            <div class="speaker-photo absolute top-0 left-0 bg-cover bg-center w-full h-full" style="background-image: url({{speaker.photo}});"></div>
            <div class="speaker-gradient absolute bg-blue-400 top-0 left-0 w-full h-full opacity-75"></div>
            <div class="absolute bottom-1 p-8">
              <i class="speaker-company inline-block font-mono text-blue-400 mb-2">&#60; {{speaker.company}} &#47;&#62;</i>
              <h2 class="speaker-name text-white text-3xl m-0">{{speaker.name}}</h2>
              <p class="speaker-bio text-gray-200 font-mono text-sm mt-4">{{speaker.bio | safe}}</p>
            </div>
            <aside class="absolute top-6 left-6">
              {% if speaker.twitter %}
                <a class="inline-block mr-4 w-8 text-white hover:text-blue-500 w-6" href="{{speaker.twitter}}" target="_blank">
                  {% include 'components/icons/twitter.html' %}
                </a>
              {% endif %}
              {% if speaker.linkedin %}
                <a class="inline-block mr-4 w-8 text-white hover:text-blue-500 w-6" href="{{speaker.linkedin}}" target="_blank">
                  {% include 'components/icons/linkedin.html' %}
                </a>
              {% endif %}
              {% if speaker.github %}
                <a class="inline-block mr-4 w-8 text-white hover:text-blue-500 w-6" href="{{speaker.github}}" target="_blank">
                  {% include 'components/icons/github.html' %}
                </a>
              {% endif %}
            </aside>
          </article>
        </div>
      {% endfor %}
    </div>
  </section>
</div>
{% if title > 2016 %}
  <section class="py-24 container px-4 mx-auto">
    <div class="px-4">
      <i class="inline-block font-mono text-blue-400 mb-4 lowercase">&lt; video_archive /&gt;</i>
      <h2 class="text-4xl capitalize">Videos from {{title}}</h2>
    </div>
    <div class="flex flex-wrap">
      {% for video in collections.videos | reverse %}
        {% if video.data.year == title %}
        <a class="block w-4/12 hover:text-blue-500 mb-12 video-filter-item animated fadeInUp" data-released="{{video.data.year}}" href="{{ video.url }}">
          <article class="video-card px-4">
            <div class="relative">
              <img src="https://img.youtube.com/vi/{{ video.data.video_id }}/maxresdefault.jpg" alt="{{ video.data.title }}" class="video-card-thumb block rounded-sm">
              <span class="video-card-play absolute">
                {% include "components/play-button.njk" %}
              </span>
            </div>
            <div class="flex mt-4 mb-4">
              <i class="inline-block font-mono text-blue-400 capitalize text-sm">&#60; {{video.data.speaker}} &#47;&#62;</i>
              <span class="text-sm text-right flex-grow text-gray-400 font-mono">{{video.data.year}}</span>
            </div>
            <h2 class="text-xl capitalize mb-0">
              {{ video.data.title }}
            </h2>
          </article>
        </a>
        {% endif %}
      {% endfor %}
    </div>
  </section>
{% endif %}