---
layout: default
---
<section class="py-24 pt-40 bg-black">
  <div class="px-8 container mx-auto items-center">
    <i class="inline-block font-mono text-blue-400 mb-4 lowercase">&#60; Archive &#47;&#62;</i>
    <h2 class="text-4xl capitalize text-white">{{title}}</h2>
  </div>
</section>
<main class="py-24 container px-8 mx-auto h-full bg-white">
  <div class="markdown">
    {# include content #}
    {{ content | safe }}
  </div>
</main>
<section class="py-24 container px-4 mx-auto">
  <div class="px-4">
    <i class="inline-block font-mono text-blue-400 mb-4 lowercase">&lt; video_archive /&gt;</i>
    <h2 class="text-4xl capitalize">Videos from {{title}}</h2>
  </div>
  <div class="flex flex-wrap">
    {% for video in collections.videos | reverse %}
      {% if video.data.year == title %}
      <a class="block w-4/12 hover:text-blue-500 mb-12 video-filter-item animated fadeInUp" data-released="{{video.data.year}}" href="{{ video.url }}">
        <article class="video-card px-4">
          <div class="relative">
            <img src="https://img.youtube.com/vi/{{ video.data.video_id }}/maxresdefault.jpg" alt="{{ video.data.title }}" class="video-card-thumb block rounded-sm">
            <span class="video-card-play absolute">
              {% include "components/play-button.njk" %}
            </span>
          </div>
          <div class="flex mt-4 mb-4">
            <i class="inline-block font-mono text-blue-400 capitalize text-sm">&#60; {{video.data.speaker}} &#47;&#62;</i>
            <span class="text-sm text-right flex-grow text-gray-400 font-mono">{{video.data.year}}</span>
          </div>
          <h2 class="text-xl capitalize mb-0">
            {{ video.data.title }}
          </h2>
        </article>
      </a>
      {% endif %}
    {% endfor %}
  </div>
</section>