<!doctype html>
<html lang="en" class="min-h-full antialiased">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if meta_title %}{{ meta_title }}
      {% else %}{{ title }}
      {% endif %} | {{ site.name }}</title>
    <meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    {% if page.fileSlug === "blog" %}
      <meta name="robots" content="noindex,follow"/>
    {% endif %}

    {# for performance gains over the network, if your site's entire CSS comes in under 16kb, you may want to consider just having it inlined in the head #}
    {# include main.css if in development mode #}
    {% if helpers.environment == "development" %}
      <link rel="stylesheet" href="/css/main.css">
    {% else %}
      {# else, use the minified css file for production #}
      <link rel="stylesheet" href="/css/main.min.css">
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">

    {# social meta tags and assets like fonts, favicons etc, should be last #}
    {% include "components/social-meta.njk" %}

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body {% if body_class %} id="{{ body_class }}"{% endif %} class="min-h-full font-sans text-lg text-gray-800 leading-normal">

    <a class="visually-hidden" href="#main">Skip to content</a>

    {# include header #}
    {% include "components/header.njk" %}

    <div id="wrapper" class="wrapper flex flex-col relative min-h-screen">

      {# include content #}
      {{ content | safe }}

      {# include CTA #}
      {% include "components/cta.njk" %}

      {# include footer #}
      {% include "components/footer.njk" %}

    </div>

    {# include scripts #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    
    {% if helpers.environment == "development" %}
      <script src="/javascript/main.js"></script>
    {% else %}
      <script src="/javascript/main.min.js"></script>
    {% endif %}

  </body>
</html>