<svg class="fill-current w-4 h-4 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.458 9.458"><defs></defs><title>Asset 2</title><g id="Layer_2" data-name="Layer 2"><g id="Calque_1" data-name="Calque 1"><path id="Arrow" class="cls-1" d="M0,0V9.458H9.458V0ZM5.03,7H3.916L5.7,5.212H2.131V4.247H5.7L3.916,2.46H5.03l2.3,2.269Z"/></g></g></svg>